axon-slicer-stable-backup.json
{"workflow":{"id":"pT6qM5x1mEtlPuSG","name":"Axon Slicer Final Robust","active":true,"isArchived":false,"versionId":"70ca42dd-ad28-4608-87ae-3da6f25580ea","activeVersionId":"70ca42dd-ad28-4608-87ae-3da6f25580ea","triggerCount":1,"createdAt":"2026-05-04T03:24:54.015Z","updatedAt":"2026-05-04T13:07:58.763Z","settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"connections":{"Webhook Axon Slicer":{"main":[[{"node":"Axon Slicer Agent","type":"main","index":0}]]},"Axon Slicer Agent":{"main":[[{"node":"Limpiar JSON","type":"main","index":0}]]},"Gemini 2.5 Flash":{"ai_languageModel":[[{"node":"Axon Slicer Agent","type":"ai_languageModel","index":0}]]},"Limpiar JSON":{"main":[[{"node":"Responder a App","type":"main","index":0}]]}},"nodes":[{"parameters":{"httpMethod":"POST","path":"axon-slicer","responseMode":"responseNode","options":{}},"id":"9c163446-6df7-4f5c-9370-66af10f13a28","name":"Webhook Axon Slicer","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-32,304],"webhookId":"f711bb24-87cf-4b45-9acd-b1a0ecf25194"},{"parameters":{"promptType":"define","text":"=PROYECTO: {{ $json.body.title || \"Sin Titulo\" }}\nDESCRIPCION: {{ $json.body.description || \"Sin Descripcion\" }}\n\nFragmenta este proyecto en tareas realistas de 15m a 2h.\n\nResponde SOLO con JSON.","options":{"systemMessage":"Eres Axon Slicer. Responde SIEMPRE en JSON puro sin markdown."}},"id":"820a5723-6aac-4993-982e-0b8b1483b9ce","name":"Axon Slicer Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[176,304]},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{"maxOutputTokens":4096,"temperature":0.2}},"id":"1d1476d7-471e-4f45-a4bd-7dd8be8e151e","name":"Gemini 2.5 Flash","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[176,560]},{"parameters":{"jsCode":"\n        let text = $json.output || \"\";\n        text = text.replace(/\\`\\`\\`json/g, '').replace(/\\`\\`\\`/g, '').trim();\n        try {\n          return JSON.parse(text);\n        } catch (e) {\n          const match = text.match(/\\{.*\\}/s);\n          if (match) return JSON.parse(match[0]);\n          return { error: \"No JSON\", raw: text };\n        }\n      "},"id":"09e1d967-ecb0-4b52-bc3b-ca9f182ce4cc","name":"Limpiar JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,304]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"cda50d06-ed85-4217-8058-b3e76913766f","name":"Responder a App","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[688,304]}],"activeVersion":{"nodes":[{"parameters":{"httpMethod":"POST","path":"axon-slicer","responseMode":"responseNode","options":{}},"id":"9c163446-6df7-4f5c-9370-66af10f13a28","name":"Webhook Axon Slicer","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-32,304],"webhookId":"f711bb24-87cf-4b45-9acd-b1a0ecf25194"},{"parameters":{"promptType":"define","text":"=PROYECTO: {{ $json.body.title || \"Sin Titulo\" }}\nDESCRIPCION: {{ $json.body.description || \"Sin Descripcion\" }}\n\nFragmenta este proyecto en tareas realistas de 15m a 2h.\n\nResponde SOLO con JSON.","options":{"systemMessage":"Eres Axon Slicer. Responde SIEMPRE en JSON puro sin markdown."}},"id":"820a5723-6aac-4993-982e-0b8b1483b9ce","name":"Axon Slicer Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[176,304]},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{"maxOutputTokens":4096,"temperature":0.2}},"id":"1d1476d7-471e-4f45-a4bd-7dd8be8e151e","name":"Gemini 2.5 Flash","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[176,560]},{"parameters":{"jsCode":"\n        let text = $json.output || \"\";\n        text = text.replace(/\\`\\`\\`json/g, '').replace(/\\`\\`\\`/g, '').trim();\n        try {\n          return JSON.parse(text);\n        } catch (e) {\n          const match = text.match(/\\{.*\\}/s);\n          if (match) return JSON.parse(match[0]);\n          return { error: \"No JSON\", raw: text };\n        }\n      "},"id":"09e1d967-ecb0-4b52-bc3b-ca9f182ce4cc","name":"Limpiar JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,304]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"cda50d06-ed85-4217-8058-b3e76913766f","name":"Responder a App","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[688,304]}],"connections":{"Webhook Axon Slicer":{"main":[[{"node":"Axon Slicer Agent","type":"main","index":0}]]},"Axon Slicer Agent":{"main":[[{"node":"Limpiar JSON","type":"main","index":0}]]},"Gemini 2.5 Flash":{"ai_languageModel":[[{"node":"Axon Slicer Agent","type":"ai_languageModel","index":0}]]},"Limpiar JSON":{"main":[[{"node":"Responder a App","type":"main","index":0}]]}}},"tags":[],"meta":{"aiBuilderAssisted":true},"parentFolderId":null,"description":"Corrected the model name to 'models/gemini-1.5-flash-latest' to match Google's API v1beta requirements and ensure compatibility with n8n.","scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:unpublish","workflow:unshare","workflow:update","workflow:updateRedactionSetting"],"canExecute":true}}
