n8n_webhook_workflow.json
{
  "name": "Axon - Rutinas → Google Calendar",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pomodoro-sync",
        "responseMode": "lastNode"
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendar": {
          "__rl": true,
          "value": "ec2bb1482572211b29bf0aaf281832d2701bfff84fb598ab4d91c70d2c3935c2@group.calendar.google.com",
          "mode": "list"
        },
        "start": "={{ $json.startTime }}",
        "end": "={{ $json.endTime }}",
        "summary": "={{ $json.taskId }}",
        "description": "={{ $json.isRoutine ? '🔒 Rutina Axon' : '📌 Proyecto Axon' }}"
      },
      "id": "gcal-create",
      "name": "Crear en Rutinas",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "credentials": {
        "googleCalendarOAuth2Api": "Google Calendar"
      },
      "position": [500, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "status", "value": "ok" }
          ]
        }
      },
      "id": "respond-1",
      "name": "OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Crear en Rutinas", "type": "main", "index": 0 }]
      ]
    },
    "Crear en Rutinas": {
      "main": [
        [{ "node": "OK", "type": "main", "index": 0 }]
      ]
    }
  }
}
