backups/n8n_workflows/Axon_Calendario_Sync.json
{"workflow":{"id":"LtuEuGy7FQedUJDO","name":"14. AXON - Calendario Sync","active":true,"isArchived":false,"versionId":"efbb7c9d-ab86-499e-904e-6291ac0da6d1","activeVersionId":"efbb7c9d-ab86-499e-904e-6291ac0da6d1","triggerCount":1,"createdAt":"2026-05-03T16:40:22.647Z","updatedAt":"2026-05-09T13:18:26.847Z","settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"connections":{"App Webhook":{"main":[[{"node":"Is Clear Day?","type":"main","index":0}]]},"Is Clear Day?":{"main":[[{"node":"Get Rutinas Events","type":"main","index":0},{"node":"Get Nyvara Events","type":"main","index":0}],[{"node":"Is Routine?","type":"main","index":0}]]},"Get Rutinas Events":{"main":[[{"node":"Delete Rutinas Event","type":"main","index":0}]]},"Is Routine?":{"main":[[{"node":"Create in Rutinas","type":"main","index":0}],[{"node":"Create in Nyvara","type":"main","index":0}]]},"Get Nyvara Events":{"main":[[{"node":"Delete Nyvara Event","type":"main","index":0}]]}},"nodes":[{"parameters":{"httpMethod":"POST","path":"pomodoro-sync","options":{}},"id":"67b5a7e5-152f-4066-aed8-746d352ff51f","name":"App Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[576,736],"webhookId":"e6bfcfc5-26f6-4824-81cc-395917c36bbb"},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.body?.action }}","rightValue":"clear_day","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"9b3cf265-b6fd-4495-9fe6-c4f0cf2baf5a","name":"Is Clear Day?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[768,736]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"mode":"id","value":"ec2bb1482572211b29bf0aaf281832d2701bfff84fb598ab4d91c70d2c3935c2@group.calendar.google.com"},"returnAll":true,"timeMin":"={{ $json.body?.day + 'T00:00:00' }}","timeMax":"={{ $json.body?.day + 'T23:59:59' }}","options":{"query":"Focus:"}},"id":"8ff692d2-bf61-4444-8601-6b7657681987","name":"Get Rutinas Events","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[976,544]},{"parameters":{"operation":"delete","calendar":{"__rl":true,"mode":"id","value":"ec2bb1482572211b29bf0aaf281832d2701bfff84fb598ab4d91c70d2c3935c2@group.calendar.google.com"},"eventId":"={{ $json.id }}","options":{}},"id":"21a3f286-94bf-43e8-8ecc-67ea27114bc0","name":"Delete Rutinas Event","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1232,544]},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.body?.isRoutine }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"4579a536-575a-4a58-9f68-f12fe78511e5","name":"Is Routine?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[976,896]},{"parameters":{"calendar":{"__rl":true,"mode":"id","value":"ec2bb1482572211b29bf0aaf281832d2701bfff84fb598ab4d91c70d2c3935c2@group.calendar.google.com"},"start":"={{ $json.body?.startTime || $json.query?.startTime }}","end":"={{ $json.body?.endTime || $json.query?.endTime }}","useDefaultReminders":false,"additionalFields":{"description":"🔒 Rutina desde Axon","summary":"=🔒 {{ $json.body?.taskId || $json.query?.taskId || \"Rutina\" }}"},"remindersUi":{"remindersValues":[{"method":"popup","minutes":2}]}},"id":"dbfa6a2e-2ea7-46f5-a75f-d25791c5bf52","name":"Create in Rutinas","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1184,832]},{"parameters":{"calendar":{"__rl":true,"mode":"id","value":"42ed8e94b879dca88ae92956a9bf0f4780da36fbbde26f849aabb32a437c2e13@group.calendar.google.com"},"start":"={{ $json.body?.startTime || $json.query?.startTime }}","end":"={{ $json.body?.endTime || $json.query?.endTime }}","useDefaultReminders":false,"additionalFields":{"description":"📌 Proyecto desde Axon","summary":"=📌 {{ $json.body?.taskId || $json.query?.taskId || \"Proyecto\" }}"},"remindersUi":{"remindersValues":[{"method":"popup","minutes":2}]}},"id":"c1764291-1922-4113-8138-5723998eb049","name":"Create in Nyvara","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1184,960]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"mode":"id","value":"42ed8e94b879dca88ae92956a9bf0f4780da36fbbde26f849aabb32a437c2e13@group.calendar.google.com"},"returnAll":true,"timeMin":"={{ $('App Webhook').item.json.body?.day + 'T00:00:00' }}","timeMax":"={{ $('App Webhook').item.json.body?.day + 'T23:59:59' }}","options":{"query":"Focus:"}},"id":"2913dd26-19ec-4891-8d39-d88410528acc","name":"Get Nyvara Events","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[976,640],"executeOnce":true},{"parameters":{"operation":"delete","calendar":{"__rl":true,"mode":"id","value":"42ed8e94b879dca88ae92956a9bf0f4780da36fbbde26f849aabb32a437c2e13@group.calendar.google.com"},"eventId":"={{ $json.id }}","options":{}},"id":"36b4f079-d84f-4388-ba44-16a6f958bbe4","name":"Delete Nyvara Event","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1232,640]}],"activeVersion":{"nodes":[{"parameters":{"httpMethod":"POST","path":"pomodoro-sync","options":{}},"id":"67b5a7e5-152f-4066-aed8-746d352ff51f","name":"App Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[576,736],"webhookId":"e6bfcfc5-26f6-4824-81cc-395917c36bbb"},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.body?.action }}","rightValue":"clear_day","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"9b3cf265-b6fd-4495-9fe6-c4f0cf2baf5a","name":"Is Clear Day?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[768,736]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"mode":"id","value":"ec2bb1482572211b29bf0aaf281832d2701bfff84fb598ab4d91c70d2c3935c2@group.calendar.google.com"},"returnAll":true,"timeMin":"={{ $json.body?.day + 'T00:00:00' }}","timeMax":"={{ $json.body?.day + 'T23:59:59' }}","options":{"query":"Focus:"}},"id":"8ff692d2-bf61-4444-8601-6b7657681987","name":"Get Rutinas Events","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[976,544]},{"parameters":{"operation":"delete","calendar":{"__rl":true,"mode":"id","value":"ec2bb1482572211b29bf0aaf281832d2701bfff84fb598ab4d91c70d2c3935c2@group.calendar.google.com"},"eventId":"={{ $json.id }}","options":{}},"id":"21a3f286-94bf-43e8-8ecc-67ea27114bc0","name":"Delete Rutinas Event","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1232,544]},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.body?.isRoutine }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"4579a536-575a-4a58-9f68-f12fe78511e5","name":"Is Routine?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[976,896]},{"parameters":{"calendar":{"__rl":true,"mode":"id","value":"ec2bb1482572211b29bf0aaf281832d2701bfff84fb598ab4d91c70d2c3935c2@group.calendar.google.com"},"start":"={{ $json.body?.startTime || $json.query?.startTime }}","end":"={{ $json.body?.endTime || $json.query?.endTime }}","useDefaultReminders":false,"additionalFields":{"description":"🔒 Rutina desde Axon","summary":"=🔒 {{ $json.body?.taskId || $json.query?.taskId || \"Rutina\" }}"},"remindersUi":{"remindersValues":[{"method":"popup","minutes":2}]}},"id":"dbfa6a2e-2ea7-46f5-a75f-d25791c5bf52","name":"Create in Rutinas","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1184,832]},{"parameters":{"calendar":{"__rl":true,"mode":"id","value":"42ed8e94b879dca88ae92956a9bf0f4780da36fbbde26f849aabb32a437c2e13@group.calendar.google.com"},"start":"={{ $json.body?.startTime || $json.query?.startTime }}","end":"={{ $json.body?.endTime || $json.query?.endTime }}","useDefaultReminders":false,"additionalFields":{"description":"📌 Proyecto desde Axon","summary":"=📌 {{ $json.body?.taskId || $json.query?.taskId || \"Proyecto\" }}"},"remindersUi":{"remindersValues":[{"method":"popup","minutes":2}]}},"id":"c1764291-1922-4113-8138-5723998eb049","name":"Create in Nyvara","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1184,960]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"mode":"id","value":"42ed8e94b879dca88ae92956a9bf0f4780da36fbbde26f849aabb32a437c2e13@group.calendar.google.com"},"returnAll":true,"timeMin":"={{ $('App Webhook').item.json.body?.day + 'T00:00:00' }}","timeMax":"={{ $('App Webhook').item.json.body?.day + 'T23:59:59' }}","options":{"query":"Focus:"}},"id":"2913dd26-19ec-4891-8d39-d88410528acc","name":"Get Nyvara Events","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[976,640],"executeOnce":true},{"parameters":{"operation":"delete","calendar":{"__rl":true,"mode":"id","value":"42ed8e94b879dca88ae92956a9bf0f4780da36fbbde26f849aabb32a437c2e13@group.calendar.google.com"},"eventId":"={{ $json.id }}","options":{}},"id":"36b4f079-d84f-4388-ba44-16a6f958bbe4","name":"Delete Nyvara Event","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1232,640]}],"connections":{"App Webhook":{"main":[[{"node":"Is Clear Day?","type":"main","index":0}]]},"Is Clear Day?":{"main":[[{"node":"Get Rutinas Events","type":"main","index":0},{"node":"Get Nyvara Events","type":"main","index":0}],[{"node":"Is Routine?","type":"main","index":0}]]},"Get Rutinas Events":{"main":[[{"node":"Delete Rutinas Event","type":"main","index":0}]]},"Is Routine?":{"main":[[{"node":"Create in Rutinas","type":"main","index":0}],[{"node":"Create in Nyvara","type":"main","index":0}]]},"Get Nyvara Events":{"main":[[{"node":"Delete Nyvara Event","type":"main","index":0}]]}}},"tags":[],"meta":{"aiBuilderAssisted":true,"templateCredsSetupCompleted":true},"parentFolderId":null,"description":"Syncs Axon Pomodoro: routines to Pipe calendar, tasks to Nyvara General. 2min popup reminders. Clears both calendars on clear_day.","scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:unpublish","workflow:unshare","workflow:update","workflow:updateRedactionSetting"],"canExecute":true},"triggerInfo":"This workflow has the following trigger(s):\n\n\nWebhook trigger(s):\n\n\n\t\t\t\t<trigger 1>\n\t\t\t\t\t - Node name: App Webhook\n\t\t\t\t\t - Base URL: https://n8n-tuzb.srv1017783.hstgr.cloud/\n\t\t\t\t\t - Production path: /webhook/pomodoro-sync\n\t\t\t\t\t - Test path: /webhook-test/pomodoro-sync\n\t\t\t\t\t - HTTP Method: POST\n\t\t\t\t\t - Response Mode: Webhook is configured to respond immediately with the message \"Workflow got started.\"\n\t\t\t\t\t - No credentials required for this webhook.\n\t\t\t\t</trigger 1>"}
