backups/n8n_workflows/Axon_Alerta_Dolar.json
{"workflow":{"id":"h4cL4I495CDIOskP","name":"Axon - Alerta Dolar","active":true,"isArchived":false,"versionId":"622d0895-c903-474f-b490-aa6560627b9a","activeVersionId":"ff78b61f-1269-406d-88c7-6084492a01f3","triggerCount":1,"createdAt":"2026-05-12T02:43:42.755Z","updatedAt":"2026-05-12T03:03:39.129Z","settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"connections":{"Every Hour":{"main":[[{"node":"Get USD/COP","type":"main","index":0}]]},"Get USD/COP":{"main":[[{"node":"Check Price","type":"main","index":0}]]},"Check Price":{"main":[[{"node":"Send to Inbox","type":"main","index":0}]]},"Send to Inbox":{"main":[[{"node":"Save History","type":"main","index":0}]]}},"nodes":[{"id":"544b7015-b80b-41d4-bb1d-8973c43b57ca","name":"Every Hour","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[100,300],"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":1}]}}},{"id":"2e9272b6-d62a-4aee-8db6-be01e59842c3","name":"Get USD/COP","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[300,300],"parameters":{"method":"GET","url":"https://open.er-api.com/v6/latest/USD"}},{"id":"305c2902-fd72-46e2-a27a-f5d8809fbae7","name":"Check Price","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[500,300],"parameters":{"conditions":{"options":{},"conditions":[{"leftValue":"={{ $json.rates.COP }}","operator":{"type":"number","operation":"gte"},"rightValue":3500},{"leftValue":"={{ $json.rates.COP }}","operator":{"type":"number","operation":"lte"},"rightValue":3600}]}}},{"id":"1ae0906d-6161-4d12-a3e5-544c6456c93f","name":"Send to Inbox","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[700,200],"parameters":{"operation":"executeQuery","query":"INSERT INTO inbox (content, status) VALUES ($1, 'new')","options":{"queryReplacement":"={{ [ \"🚨 ALERTA DOLAR: El dolar está a $\" + $('Get USD/COP').item.json.rates.COP ] }}"}}},{"id":"1b3d05e5-0744-4ea9-8c24-0712e908070e","name":"Save History","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[900,200],"parameters":{"operation":"executeQuery","query":"INSERT INTO dolar_history (rate, created_at, alert_sent) VALUES ($1, now(), true)","options":{"queryReplacement":"={{ [ $('Get USD/COP').item.json.rates.COP ] }}"}}}],"activeVersion":{"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"544b7015-b80b-41d4-bb1d-8973c43b57ca","name":"Every Hour","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[112,304]},{"parameters":{"url":"https://open.er-api.com/v6/latest/USD","options":{}},"id":"2e9272b6-d62a-4aee-8db6-be01e59842c3","name":"Get USD/COP","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[304,304]},{"parameters":{"conditions":{"options":{},"conditions":[{"leftValue":"={{ $json.rates.COP }}","operator":{"type":"number","operation":"gte"},"rightValue":3500},{"leftValue":"={{ $json.rates.COP }}","operator":{"type":"number","operation":"lte"},"rightValue":3600}]},"options":{}},"id":"305c2902-fd72-46e2-a27a-f5d8809fbae7","name":"Check Price","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[512,304]},{"parameters":{"method":"POST","url":"https://evolution-api-s9xl.srv1017783.hstgr.cloud/message/sendText/axonbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"B0E647B61A18-47C0-B7FF-97656B2E2C13"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: \"+573004570442\", text: \"🚨 ALERTA DOLAR: El dolar está a $\" + $json.rates.COP }) }}","options":{}},"id":"070d328d-3ad7-408f-8cdf-530c256a77cb","name":"Send WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[704,208]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO dollar_history (rate, created_at) VALUES ($1, now())","options":{"queryReplacement":"={{ [ $('Get USD/COP').item.json.rates.COP ] }}"}},"id":"1b3d05e5-0744-4ea9-8c24-0712e908070e","name":"Save History","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[912,208]}],"connections":{"Every Hour":{"main":[[{"node":"Get USD/COP","type":"main","index":0}]]},"Get USD/COP":{"main":[[{"node":"Check Price","type":"main","index":0}]]},"Check Price":{"main":[[{"node":"Send WhatsApp","type":"main","index":0}]]},"Send WhatsApp":{"main":[[{"node":"Save History","type":"main","index":0}]]}}},"tags":[],"meta":{"aiBuilderAssisted":true},"parentFolderId":null,"description":"Cada hora consulta USD/COP, si esta entre 3500-3600 envia alerta WhatsApp y guarda historial en Supabase.","scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:unpublish","workflow:unshare","workflow:update","workflow:updateRedactionSetting"],"canExecute":true},"triggerInfo":"This workflow has the following trigger(s):\n\n\nSchedule trigger(s):\n\n\n\t\t\t\t<trigger 1>\n\t\t\t\t\t - Node name: Every Hour\n\t\t\t\t</trigger 1>\n\nScheduled workflows can be executed directly through MCP clients and do not require external inputs."}
