backups/n8n_workflows/Axon_Polyglot_Traductor_IA.json
{"workflow":{"id":"GYlOqEn5XifVT5B7","name":"Axon Polyglot - Traductor IA","active":true,"isArchived":false,"versionId":"7e6802d5-42a7-4ec5-aec0-ba4cc47fd9a6","activeVersionId":"7e6802d5-42a7-4ec5-aec0-ba4cc47fd9a6","triggerCount":1,"createdAt":"2026-05-11T20:45:09.331Z","updatedAt":"2026-05-11T21:17:29.068Z","settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"connections":{"Recibir Frase":{"main":[[{"node":"Traducir con Groq","type":"main","index":0}]]},"Traducir con Groq":{"main":[[{"node":"Parsear Traducciones","type":"main","index":0}]]},"Parsear Traducciones":{"main":[[{"node":"Enviar Traducciones","type":"main","index":0}]]}},"nodes":[{"parameters":{"httpMethod":"POST","path":"polyglot-translate","responseMode":"responseNode","options":{}},"id":"1656f059-6236-43a2-8f85-f0422f4d533a","name":"Recibir Frase","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[112,304],"webhookId":"3a67285a-45de-4af9-8490-5e6e8ec4caa7"},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"groqApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un traductor multilingual experto. Traduce la frase recibida a 7 idiomas: fr (Frances), pt (Portugues), de (Aleman), hi (Hindi), ar (Arabe), ko (Coreano), zh (Chino). Para cada idioma devuelve un objeto con: native_text (escritura nativa en el alfabeto original), phonetic (romanizacion/transliteracion/pinyin), literal_translation (traduccion palabra por palabra), natural_translation (significado natural y fluido). Devuelve SOLO un objeto JSON valido, sin texto adicional.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Espanol: {{ $json.body.source_es }}. Ingles: {{ $json.body.source_en }}\"\n    }\n  ],\n  \"temperature\": 0.2,\n  \"response_format\": {\n    \"type\": \"json_object\"\n  }\n}","options":{}},"id":"94909eba-aa12-4c07-b5c0-5eefbcded624","name":"Traducir con Groq","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[320,304]},{"parameters":{"jsCode":"const content = $input.first().json.choices[0].message.content;\nconst translations = JSON.parse(content);\nreturn [{ json: translations }];"},"id":"9eee9d61-8717-4bdc-b3b3-26835d33e722","name":"Parsear Traducciones","type":"n8n-nodes-base.code","typeVersion":1,"position":[544,304]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"d416f03a-eea9-406f-8c84-a4e0792d48c5","name":"Enviar Traducciones","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[768,304]}],"activeVersion":{"nodes":[{"parameters":{"httpMethod":"POST","path":"polyglot-translate","responseMode":"responseNode","options":{}},"id":"1656f059-6236-43a2-8f85-f0422f4d533a","name":"Recibir Frase","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[112,304],"webhookId":"3a67285a-45de-4af9-8490-5e6e8ec4caa7"},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"groqApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un traductor multilingual experto. Traduce la frase recibida a 7 idiomas: fr (Frances), pt (Portugues), de (Aleman), hi (Hindi), ar (Arabe), ko (Coreano), zh (Chino). Para cada idioma devuelve un objeto con: native_text (escritura nativa en el alfabeto original), phonetic (romanizacion/transliteracion/pinyin), literal_translation (traduccion palabra por palabra), natural_translation (significado natural y fluido). Devuelve SOLO un objeto JSON valido, sin texto adicional.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Espanol: {{ $json.body.source_es }}. Ingles: {{ $json.body.source_en }}\"\n    }\n  ],\n  \"temperature\": 0.2,\n  \"response_format\": {\n    \"type\": \"json_object\"\n  }\n}","options":{}},"id":"94909eba-aa12-4c07-b5c0-5eefbcded624","name":"Traducir con Groq","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[320,304]},{"parameters":{"jsCode":"const content = $input.first().json.choices[0].message.content;\nconst translations = JSON.parse(content);\nreturn [{ json: translations }];"},"id":"9eee9d61-8717-4bdc-b3b3-26835d33e722","name":"Parsear Traducciones","type":"n8n-nodes-base.code","typeVersion":1,"position":[544,304]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"d416f03a-eea9-406f-8c84-a4e0792d48c5","name":"Enviar Traducciones","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[768,304]}],"connections":{"Recibir Frase":{"main":[[{"node":"Traducir con Groq","type":"main","index":0}]]},"Traducir con Groq":{"main":[[{"node":"Parsear Traducciones","type":"main","index":0}]]},"Parsear Traducciones":{"main":[[{"node":"Enviar Traducciones","type":"main","index":0}]]}}},"tags":[],"meta":{"aiBuilderAssisted":true},"parentFolderId":null,"description":"Volviendo al tipo nativo de Groq API porque el usuario ya tiene la credencial creada.","scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:unpublish","workflow:unshare","workflow:update","workflow:updateRedactionSetting"],"canExecute":true},"triggerInfo":"This workflow has the following trigger(s):\n\n\nWebhook trigger(s):\n\n\n\t\t\t\t<trigger 1>\n\t\t\t\t\t - Node name: Recibir Frase\n\t\t\t\t\t - Base URL: https://n8n-tuzb.srv1017783.hstgr.cloud/\n\t\t\t\t\t - Production path: /webhook/polyglot-translate\n\t\t\t\t\t - Test path: /webhook-test/polyglot-translate\n\t\t\t\t\t - HTTP Method: POST\n\t\t\t\t\t - Response Mode: Webhook is configured to respond using \"Respond to Webhook\" node.\n\t\t\t\t\t - No credentials required for this webhook.\n\t\t\t\t</trigger 1>"}
