backups/n8n_workflows/Axon_Agente_Prime.json
{"workflow":{"id":"R8fhyeuDKYxq3n32","name":"11. AXON - Agente Prime","active":true,"isArchived":false,"versionId":"16864b42-7fb1-47f7-a14f-535d614b2ada","activeVersionId":"14bd6c51-7630-4f8c-b7c3-4e7b7dd698d9","triggerCount":1,"createdAt":"2026-05-02T13:08:16.887Z","updatedAt":"2026-05-07T11:06:38.446Z","settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"connections":{"Evolution Webhook":{"main":[[{"node":"Extract Data","type":"main","index":0}]]},"Extract Data":{"main":[[{"node":"Content Router","type":"main","index":0}]]},"Content Router":{"main":[[{"node":"Download File","type":"main","index":0}],[{"node":"Download Audio","type":"main","index":0}],[{"node":"Axon","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Gemini Vision","type":"main","index":0}]]},"Gemini Vision":{"main":[[{"node":"Axon","type":"main","index":0}]]},"Axon":{"main":[[{"node":"WhatsApp Reply","type":"main","index":0}]]},"Gemini Chat Model":{"ai_languageModel":[[{"node":"Axon","type":"ai_languageModel","index":0}]]},"Postgres Memory":{"ai_memory":[[{"node":"Axon","type":"ai_memory","index":0}]]},"Hans":{"ai_tool":[[{"node":"Axon","type":"ai_tool","index":0}]]},"Mildred":{"ai_tool":[[{"node":"Axon","type":"ai_tool","index":0}]]},"Marketing":{"ai_tool":[[{"node":"Axon","type":"ai_tool","index":0}]]},"Medicina Estetica":{"ai_tool":[[{"node":"Axon","type":"ai_tool","index":0}]]},"Gestion de Tareas":{"ai_tool":[[{"node":"Axon","type":"ai_tool","index":0}]]},"Download Audio":{"main":[[{"node":"Convert to Audio","type":"main","index":0}]]},"Convert to Audio":{"main":[[{"node":"Gemini Audio","type":"main","index":0}]]},"Gemini Audio":{"main":[[{"node":"Axon","type":"main","index":0}]]}},"nodes":[{"parameters":{"httpMethod":"POST","path":"evolution-webhook","options":{}},"id":"2b02acb4-7c7c-45dd-b51a-a1b6163e7753","name":"Evolution Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[64,112],"webhookId":"d4468303-f812-485f-9735-a9a0dbfdd8f4"},{"parameters":{"assignments":{"assignments":[{"id":"id","name":"id","type":"string","value":"={{ $json.body.data.key.id }}"},{"id":"remoteJid","name":"remoteJid","type":"string","value":"={{ $json.body.data.key.remoteJid }}"},{"id":"instance","name":"instance","type":"string","value":"={{ $json.body.instance }}"},{"id":"apikey","name":"apikey","type":"string","value":"={{ $json.body.apikey }}"},{"id":"messageType","name":"messageType","type":"string","value":"={{ $json.body.data.messageType || \"conversation\" }}"},{"id":"query","name":"query","type":"string","value":"={{ $json.body.data.message.conversation || $json.body.data.message.extendedTextMessage?.text || $json.body.data.message.imageMessage?.caption || \"\" }}"}]},"options":{}},"id":"eb9a5647-81df-446a-b957-d682d1a8f01c","name":"Extract Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,112]},{"parameters":{"rules":{"values":[{"conditions":{"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"Vision"},{"conditions":{"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"6ef7e922-9616-4e42-96a2-9af2287cce50","name":"Content Router","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[480,112]},{"parameters":{"method":"POST","url":"=https://evolution-api-s9xl.srv1017783.hstgr.cloud/chat/getBase64FromMediaMessage/{{ $node[\"Extract Data\"].json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $node[\"Extract Data\"].json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ message: { key: { remoteJid: $node[\"Extract Data\"].json.remoteJid, id: $node[\"Extract Data\"].json.id, fromMe: false } }, convertToMp4: true }) }}","options":{}},"id":"f415ad48-a099-4f02-b422-bf28c554ffdf","name":"Download File","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[768,-256]},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"id":"00b522fb-eaa5-4987-8dda-e1f06b756ecc","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[976,-256]},{"parameters":{"resource":"image","operation":"analyze","modelId":"models/gemini-2.5-flash","text":"Describe esta imagen detalladamente.","inputType":"binary","options":{}},"id":"047c4fbf-7247-4411-b654-036ce8949cc3","name":"Gemini Vision","type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[1168,-256]},{"parameters":{"promptType":"define","text":"={{ $json.text || $json.output || $node[\"Extract Data\"].json.query }}\n\nimagen: {{ $json.content?.parts?.[0]?.text }}\nAudio : {{ $json.content?.parts?.[0]?.text }}\n6. Fecha y hora actual: {{ $now.setZone(\"America/Bogota\").toFormat(\"yyyy-MM-dd HH:mm\") }} (Colombia)","options":{"systemMessage":"Identidad: Eres \"Axon Prime\", el Asistente de IA Central de HansBiomed Colombia. Coordinas bases de conocimiento especializadas."}},"id":"7c96d8e3-e55e-48ed-8333-a1232bdf3e2e","name":"Axon","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1424,112]},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{"temperature":0.7}},"id":"174b9573-7572-41e4-8c7a-cd2179e8a4f1","name":"Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1424,-176]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $(\"Extract Data\").item.json.remoteJid }}","tableName":"whatsapp_chat_history"},"id":"060fe417-5090-4ed4-b58c-62900e624e9d","name":"Postgres Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1520,-48]},{"parameters":{"description":"Usa esta herramienta SIEMPRE que el usuario pregunte sobre productos de HansBiomed...","workflowId":"E027DRjWEh3DItqv"},"id":"12e3397b-4ee7-4ba8-9764-64c2b314e484","name":"Hans","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1600,432]},{"parameters":{"description":"Usa esta herramienta cuando el usuario pregunte sobre la Dra. Mildred...","workflowId":"xUUwCZBb22hmqQCS"},"id":"813bae1a-af90-46de-9461-61dc61ecdb2d","name":"Mildred","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1744,432]},{"parameters":{"description":"Usa esta herramienta cuando el usuario necesite crear contenido de marketing...","workflowId":"SA1DHtCM98gZnsaV"},"id":"4c5981a6-f69b-4510-a6a9-4873846bd97a","name":"Marketing","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1888,432]},{"parameters":{"description":"Usa esta herramienta cuando el usuario pregunte sobre procedimientos de medicina estética...","workflowId":"VfAIGzb8gK1ebO7h"},"id":"3460f951-3cc1-496f-99c2-eea3d99420f2","name":"Medicina Estetica","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2048,432]},{"parameters":{"description":"Usa esta herramienta para gestionar tareas, recordatorios, rutinas y alarmas...","workflowId":"y9K2YVESMKROUKdW"},"id":"b18b403e-1069-4f63-9300-82fea60d838d","name":"Gestion de Tareas","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2208,432]},{"parameters":{"method":"POST","url":"=https://evolution-api-s9xl.srv1017783.hstgr.cloud/chat/getBase64FromMediaMessage/{{ $node[\"Extract Data\"].json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $node[\"Extract Data\"].json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ message: { key: { remoteJid: $node[\"Extract Data\"].json.remoteJid, id: $node[\"Extract Data\"].json.id, fromMe: false } }, convertToMp4: true }) }}","options":{}},"id":"248417b5-42f4-4ed0-bbb7-54f841ebff68","name":"Download Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[768,-48]},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"audio.ogg"}},"id":"81a20cc7-e3bf-4bcc-9afd-3936bdde8ec7","name":"Convert to Audio","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[976,-48]},{"parameters":{"resource":"audio","modelId":"models/gemini-2.5-flash","inputType":"binary","options":{}},"id":"41393a83-05ab-407e-959c-4d6c71e60af4","name":"Gemini Audio","type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[1168,-48]},{"parameters":{"method":"POST","url":"=https://evolution-api-s9xl.srv1017783.hstgr.cloud/message/sendText/{{ $node[\"Extract Data\"].json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $node[\"Extract Data\"].json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: $node[\"Extract Data\"].json.remoteJid, text: $json.output || $json.text || \"He procesado tu mensaje.\" }) }}","options":{}},"id":"269eb07a-3a12-45d3-9b04-80ec50db18dc","name":"WhatsApp Reply","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1696,112]}],"activeVersion":{"nodes":[{"id":"2b02acb4-7c7c-45dd-b51a-a1b6163e7753","name":"Evolution Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[64,112],"parameters":{"httpMethod":"POST","path":"evolution-webhook"},"webhookId":"d4468303-f812-485f-9735-a9a0dbfdd8f4"},{"id":"eb9a5647-81df-446a-b957-d682d1a8f01c","name":"Extract Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,112],"parameters":{"assignments":{"assignments":[{"id":"id","name":"id","type":"string","value":"={{ $json.body.data.key.id }}"},{"id":"remoteJid","name":"remoteJid","type":"string","value":"={{ $json.body.data.key.remoteJid }}"},{"id":"instance","name":"instance","type":"string","value":"={{ $json.body.instance }}"},{"id":"apikey","name":"apikey","type":"string","value":"={{ $json.body.apikey }}"},{"id":"messageType","name":"messageType","type":"string","value":"={{ $json.body.data.messageType || \"conversation\" }}"},{"id":"query","name":"query","type":"string","value":"={{ $json.body.data.message.conversation || $json.body.data.message.extendedTextMessage?.text || $json.body.data.message.imageMessage?.caption || \"\" }}"}]}}},{"id":"6ef7e922-9616-4e42-96a2-9af2287cce50","name":"Content Router","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[480,112],"parameters":{"rules":{"values":[{"conditions":{"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"Vision"},{"conditions":{"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"Text"}]}}},{"id":"f415ad48-a099-4f02-b422-bf28c554ffdf","name":"Download File","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[768,-256],"parameters":{"method":"POST","url":"=https://evolution-api-s9xl.srv1017783.hstgr.cloud/chat/getBase64FromMediaMessage/{{ $node[\"Extract Data\"].json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $node[\"Extract Data\"].json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ message: { key: { remoteJid: $node[\"Extract Data\"].json.remoteJid, id: $node[\"Extract Data\"].json.id, fromMe: false } }, convertToMp4: true }) }}"}},{"id":"00b522fb-eaa5-4987-8dda-e1f06b756ecc","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[976,-256],"parameters":{"operation":"toBinary","sourceProperty":"base64"}},{"id":"047c4fbf-7247-4411-b654-036ce8949cc3","name":"Gemini Vision","type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[1168,-256],"parameters":{"resource":"image","operation":"analyze","modelId":"models/gemini-2.5-flash","text":"Describe esta imagen detalladamente.","inputType":"binary"}},{"id":"7c96d8e3-e55e-48ed-8333-a1232bdf3e2e","name":"Axon","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1424,112],"parameters":{"promptType":"define","text":"={{ $json.text || $json.output || $node[\"Extract Data\"].json.query }}\n\nimagen: {{ $json.content?.parts?.[0]?.text }}\nAudio : {{ $json.content?.parts?.[0]?.text }}\n6. Fecha y hora actual: {{ $now.setZone(\"America/Bogota\").toFormat(\"yyyy-MM-dd HH:mm\") }} (Colombia)","options":{"systemMessage":"Identidad: Eres \"Axon Prime\", el Asistente de IA Central de HansBiomed Colombia. Coordinas bases de conocimiento especializadas."}}},{"id":"174b9573-7572-41e4-8c7a-cd2179e8a4f1","name":"Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1424,-176],"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{"temperature":0.7}}},{"id":"060fe417-5090-4ed4-b58c-62900e624e9d","name":"Postgres Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1520,-48],"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $(\"Extract Data\").item.json.remoteJid }}","tableName":"whatsapp_chat_history"}},{"id":"12e3397b-4ee7-4ba8-9764-64c2b314e484","name":"Hans","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1600,432],"parameters":{"description":"Usa esta herramienta SIEMPRE que el usuario pregunte sobre productos de HansBiomed...","workflowId":"E027DRjWEh3DItqv"}},{"id":"813bae1a-af90-46de-9461-61dc61ecdb2d","name":"Mildred","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1744,432],"parameters":{"description":"Usa esta herramienta cuando el usuario pregunte sobre la Dra. Mildred...","workflowId":"xUUwCZBb22hmqQCS"}},{"id":"4c5981a6-f69b-4510-a6a9-4873846bd97a","name":"Marketing","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1888,432],"parameters":{"description":"Usa esta herramienta cuando el usuario necesite crear contenido de marketing...","workflowId":"SA1DHtCM98gZnsaV"}},{"id":"3460f951-3cc1-496f-99c2-eea3d99420f2","name":"Medicina Estetica","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2048,432],"parameters":{"description":"Usa esta herramienta cuando el usuario pregunte sobre procedimientos de medicina estética...","workflowId":"VfAIGzb8gK1ebO7h"}},{"id":"b18b403e-1069-4f63-9300-82fea60d838d","name":"Gestion de Tareas","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2208,432],"parameters":{"description":"Usa esta herramienta para gestionar tareas, recordatorios, rutinas y alarmas...","workflowId":"y9K2YVESMKROUKdW"}},{"id":"248417b5-42f4-4ed0-bbb7-54f841ebff68","name":"Download Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[768,-48],"parameters":{"method":"POST","url":"=https://evolution-api-s9xl.srv1017783.hstgr.cloud/chat/getBase64FromMediaMessage/{{ $node[\"Extract Data\"].json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $node[\"Extract Data\"].json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ message: { key: { remoteJid: $node[\"Extract Data\"].json.remoteJid, id: $node[\"Extract Data\"].json.id, fromMe: false } }, convertToMp4: true }) }}"}},{"id":"81a20cc7-e3bf-4bcc-9afd-3936bdde8ec7","name":"Convert to Audio","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[976,-48],"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"audio.ogg"}}},{"id":"41393a83-05ab-407e-959c-4d6c71e60af4","name":"Gemini Audio","type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[1168,-48],"parameters":{"resource":"audio","modelId":"models/gemini-2.5-flash","inputType":"binary"}},{"id":"269eb07a-3a12-45d3-9b04-80ec50db18dc","name":"WhatsApp Reply","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1696,112],"parameters":{"method":"POST","url":"=https://evolution-api-s9xl.srv1017783.hstgr.cloud/message/sendText/{{ $node[\"Extract Data\"].json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $node[\"Extract Data\"].json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: $node[\"Extract Data\"].json.remoteJid, text: $json.output || $json.text || \"He procesado tu mensaje.\" }) }}"}}],"connections":{"Evolution Webhook":{"main":[[{"node":"Extract Data","type":"main","index":0}]]},"Extract Data":{"main":[[{"node":"Content Router","type":"main","index":0}]]},"Content Router":{"main":[]},"Download File":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Gemini Vision","type":"main","index":0}]]},"Gemini Vision":{"main":[[{"node":"Axon","type":"main","index":0}]]},"Axon":{"main":[[{"node":"WhatsApp Reply","type":"main","index":0}]]},"Gemini Chat Model":{"ai_languageModel":[[{"node":"Axon","type":"ai_languageModel","index":0}]]},"Postgres Memory":{"ai_memory":[[{"node":"Axon","type":"ai_memory","index":0}]]},"Hans":{"ai_tool":[[{"node":"Axon","type":"ai_tool","index":0}]]},"Mildred":{"ai_tool":[[{"node":"Axon","type":"ai_tool","index":0}]]},"Marketing":{"ai_tool":[[{"node":"Axon","type":"ai_tool","index":0}]]},"Medicina Estetica":{"ai_tool":[[{"node":"Axon","type":"ai_tool","index":0}]]},"Gestion de Tareas":{"ai_tool":[[{"node":"Axon","type":"ai_tool","index":0}]]},"Download Audio":{"main":[[{"node":"Convert to Audio","type":"main","index":0}]]},"Convert to Audio":{"main":[[{"node":"Gemini Audio","type":"main","index":0}]]},"Gemini Audio":{"main":[[{"node":"Axon","type":"main","index":0}]]}}},"tags":[],"meta":{"aiBuilderAssisted":true},"parentFolderId":null,"description":"Restoring Agente Prime workflow with all RAG tools and correct Switch logic. Ensuring dual processing for Vision, Audio and Text.","scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:unpublish","workflow:unshare","workflow:update","workflow:updateRedactionSetting"],"canExecute":true},"triggerInfo":"This workflow has the following trigger(s):\n\n\nWebhook trigger(s):\n\n\n\t\t\t\t<trigger 1>\n\t\t\t\t\t - Node name: Evolution Webhook\n\t\t\t\t\t - Base URL: https://n8n-tuzb.srv1017783.hstgr.cloud/\n\t\t\t\t\t - Production path: /webhook/evolution-webhook\n\t\t\t\t\t - Test path: /webhook-test/evolution-webhook\n\t\t\t\t\t - HTTP Method: POST\n\t\t\t\t\t - Response Mode: Webhook is configured to respond immediately with the message \"Workflow got started.\"\n\t\t\t\t\t - No credentials required for this webhook.\n\t\t\t\t</trigger 1>"}
