backups/n8n_workflows/Axon_Finance_Assistant.json
{"workflow":{"id":"IGyII2neWEqO6x8b","name":"Axon Finance Assistant","active":true,"isArchived":false,"versionId":"7cf9831b-899a-41c4-91bc-0fb35b60eef2","activeVersionId":"7cf9831b-899a-41c4-91bc-0fb35b60eef2","triggerCount":1,"createdAt":"2026-05-11T21:56:05.692Z","updatedAt":"2026-05-11T23:05:40.169Z","settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"connections":{"Webhook":{"main":[[{"node":"Finance Parser","type":"main","index":0}]]},"Finance Parser":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Groq Model":{"ai_languageModel":[[{"node":"Finance Parser","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Finance Parser","type":"ai_outputParser","index":0}]]}},"nodes":[{"id":"28f9d662-d5a2-4c23-9535-80a35e0d837c","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,300],"parameters":{"httpMethod":"POST","path":"finance-assistant","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"webhookId":"8e9ba6cd-11df-4623-a673-758e8851f345"},{"id":"4eca0872-37cb-4d54-bd8b-dca4da8949a4","name":"Finance Parser","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[540,300],"parameters":{"promptType":"define","text":"=Extract the transaction details from this text: \"{{ $json.body.text }}\".\n\nYou MUST choose the most appropriate category from this list: [{{ $json.body.categories }}]. If none fit perfectly, choose the closest one.\n\nIf it is an expense, type is \"expense\". If it is income, type is \"income\". Translate the description to Spanish.","hasOutputParser":true}},{"id":"48931f5c-30b0-42c9-988a-7f07647f65cb","name":"Groq Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[540,500],"parameters":{"model":"llama-3.3-70b-versatile"}},{"id":"2337cddd-29f0-4565-bfef-21f9875763df","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[700,500],"parameters":{"schemaType":"fromJson","jsonSchemaExample":"{\n  \"amount\": 15,\n  \"type\": \"expense\",\n  \"category\": \"Alimentación\",\n  \"description\": \"Café y pan\"\n}"}},{"id":"26fcece7-1a99-40c3-b326-85a9069a222c","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[840,300],"parameters":{"respondWith":"firstIncomingItem","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Access-Control-Allow-Methods","value":"POST, OPTIONS"},{"name":"Access-Control-Allow-Headers","value":"Content-Type"}]}}}}],"activeVersion":{"nodes":[{"id":"28f9d662-d5a2-4c23-9535-80a35e0d837c","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,300],"parameters":{"httpMethod":"POST","path":"finance-assistant","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"webhookId":"8e9ba6cd-11df-4623-a673-758e8851f345"},{"id":"4eca0872-37cb-4d54-bd8b-dca4da8949a4","name":"Finance Parser","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[540,300],"parameters":{"promptType":"define","text":"=Extract the transaction details from this text: \"{{ $json.body.text }}\".\n\nYou MUST choose the most appropriate category from this list: [{{ $json.body.categories }}]. If none fit perfectly, choose the closest one.\n\nIf it is an expense, type is \"expense\". If it is income, type is \"income\". Translate the description to Spanish.","hasOutputParser":true}},{"id":"48931f5c-30b0-42c9-988a-7f07647f65cb","name":"Groq Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[540,500],"parameters":{"model":"llama-3.3-70b-versatile"}},{"id":"2337cddd-29f0-4565-bfef-21f9875763df","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[700,500],"parameters":{"schemaType":"fromJson","jsonSchemaExample":"{\n  \"amount\": 15,\n  \"type\": \"expense\",\n  \"category\": \"Alimentación\",\n  \"description\": \"Café y pan\"\n}"}},{"id":"26fcece7-1a99-40c3-b326-85a9069a222c","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[840,300],"parameters":{"respondWith":"firstIncomingItem","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Access-Control-Allow-Methods","value":"POST, OPTIONS"},{"name":"Access-Control-Allow-Headers","value":"Content-Type"}]}}}}],"connections":{"Webhook":{"main":[[{"node":"Finance Parser","type":"main","index":0}]]},"Finance Parser":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Groq Model":{"ai_languageModel":[[{"node":"Finance Parser","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Finance Parser","type":"ai_outputParser","index":0}]]}}},"tags":[],"meta":{"aiBuilderAssisted":true},"parentFolderId":null,"description":"Asistente con IA que utiliza las categorías reales de la aplicación para clasificar transacciones.","scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:unpublish","workflow:unshare","workflow:update","workflow:updateRedactionSetting"],"canExecute":true},"triggerInfo":"This workflow has the following trigger(s):\n\n\nWebhook trigger(s):\n\n\n\t\t\t\t<trigger 1>\n\t\t\t\t\t - Node name: Webhook\n\t\t\t\t\t - Base URL: https://n8n-tuzb.srv1017783.hstgr.cloud/\n\t\t\t\t\t - Production path: /webhook/finance-assistant\n\t\t\t\t\t - Test path: /webhook-test/finance-assistant\n\t\t\t\t\t - HTTP Method: POST\n\t\t\t\t\t - Response Mode: Webhook is configured to respond using \"Respond to Webhook\" node.\n\t\t\t\t\t - No credentials required for this webhook.\n\t\t\t\t</trigger 1>"}
