backups/n8n_workflows/Axon_Destilador_de_Redes.json
{"workflow":{"id":"Ak1EOljuTUQj7YYh","name":"Axon - Destilador de Redes","active":true,"isArchived":false,"versionId":"321555a9-5425-4d5f-a6b9-9e55f364c373","activeVersionId":"321555a9-5425-4d5f-a6b9-9e55f364c373","triggerCount":1,"createdAt":"2026-05-12T03:30:50.115Z","updatedAt":"2026-05-12T20:54:25.877Z","settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"connections":{"Webhook":{"main":[[{"node":"Configuración API","type":"main","index":0}]]},"Configuración API":{"main":[[{"node":"Get Media URL (Private Cobalt)","type":"main","index":0}]]},"Get Media URL (Private Cobalt)":{"main":[[{"node":"Transcribir Audio (Edge Function)","type":"main","index":0}]]},"Transcribir Audio (Edge Function)":{"main":[[{"node":"Análisis con LLaMA 3.3","type":"main","index":0}]]},"Análisis con LLaMA 3.3":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond To Webhook","type":"main","index":0}]]}},"nodes":[{"parameters":{"httpMethod":"POST","path":"distill-media","responseMode":"responseNode","options":{}},"id":"b32aa244-ee27-4d95-81ac-82f52b472d3f","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[272,240],"webhookId":"e3324cd0-7b02-4680-8af7-9e2f72372171"},{"parameters":{"assignments":{"assignments":[{"id":"key","name":"GROQ_API_KEY","value":"[REDACTED_GROQ_KEY]","type":"string"}]},"options":{}},"id":"94f78241-adec-488c-a377-9b69dd74df27","name":"Configuración API","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,240]},{"parameters":{"method":"POST","url":"http://192.168.2.16:8089/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"{{ $node[\"Webhook\"].json.body.url }}\",\n  \"downloadMode\": \"audio\"\n}","options":{}},"id":"a98a7197-0db6-4991-aa9a-c797269bf8a2","name":"Get Media URL (Private Cobalt)","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[672,240]},{"parameters":{"method":"POST","url":"https://blwaxxacneipoaufpiag.supabase.co/functions/v1/transcribe-audio","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"audioUrl\": \"{{ $json.url }}\",\n  \"apiKey\": \"{{ $(\"Configuración API\").item.json.GROQ_API_KEY }}\"\n}","options":{"timeout":60000}},"id":"ffa0dd34-cd29-4a65-860e-f1a95c941ad7","name":"Transcribir Audio (Edge Function)","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[864,240]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $(\"Configuración API\").item.json.GROQ_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un experto en curación de contenido digital. Analiza la transcripción y extrae el MÁXIMO valor informativo. Devuelve la respuesta siguiendo estrictamente este formato con encabezados en negrita: **Categoría**, **Subcategorías**, **Herramientas Mencioandas**, **Palabras Clave**, **Resumen Detallado**, **Guía Paso a Paso / Acción**.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analiza esta transcripción:\\n\\n{{ $json.text }}\"\n    }\n  ]\n}","options":{}},"id":"d97b660c-f56e-4048-af0e-6a18d897b2b0","name":"Análisis con LLaMA 3.3","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1056,240]},{"parameters":{"jsCode":"\nvar text = $input.item.json.choices?.[0]?.message?.content || \"\";\nif (!text) { return [{ json: { categoria: \"Otro\", subcategorias: [], herramientas: [], palabras_clave: [], resumen: \"\", accion: \"\" } }]; }\n\nvar catMatch = text.match(/\\*\\*Categor[ií]a\\*\\*:?\\s*(.*?)(?:\\n|$)/i);\nvar subMatch = text.match(/\\*\\*Subcategor[ií]as\\*\\*:?\\s*([\\s\\S]*?)(?=\\n\\*\\*Herramienta|$)/i);\nvar toolMatch = text.match(/\\*\\*Herramientas? Mencion[ao]das?\\*\\*:?\\s*([\\s\\S]*?)(?=\\n\\*\\*Palabras|$)/i);\nvar keyMatch = text.match(/\\*\\*Palabras Clave\\*\\*:?\\s*([\\s\\S]*?)(?=\\n\\*\\*Resumen|$)/i);\nvar resMatch = text.match(/\\*\\*Resumen Detallado\\*\\*:?\\s*([\\s\\S]*?)(?=\\n\\*\\*Gu[ií]a|$)/i);\nvar accMatch = text.match(/\\*\\*Gu[ií]a Paso a Paso \\/ Acci[oó]n\\*\\*:?\\s*([\\s\\S]*?)$/i);\n\nfunction cleanList(m) {\n  if (!m) return [];\n  return m[1].split('\\n').map(function(l) { \n    return l.replace(/^[-\\s*•\\d.]+/, \"\").trim(); \n  }).filter(function(l) { return l.length > 0; });\n}\n\nreturn [{\n  json: {\n    categoria: catMatch ? catMatch[1].trim() : \"Otro\",\n    subcategorias: cleanList(subMatch),\n    herramientas: cleanList(toolMatch),\n    palabras_clave: cleanList(keyMatch),\n    resumen: resMatch ? resMatch[1].trim() : \"\",\n    accion: accMatch ? accMatch[1].trim() : \"\"\n  }\n}];\n"},"id":"c8c40eff-2434-4b46-943b-390bbd7e1160","name":"Code in JavaScript","type":"n8n-nodes-base.code","typeVersion":2,"position":[1248,240]},{"parameters":{"assignments":{"assignments":[{"id":"url","name":"body.url","value":"={{ $(\"Webhook\").item.json.body.url }}","type":"string"},{"id":"cat","name":"categoria","value":"={{ $json.categoria }}","type":"string"},{"id":"sub","name":"subcategorias","value":"={{ $json.subcategorias }}","type":"array"},{"id":"tools","name":"palabras_clave","value":"={{ $json.herramientas.concat($json.palabras_clave) }}","type":"array"},{"id":"res","name":"resumen","value":"={{ $json.resumen }}","type":"string"},{"id":"acc","name":"accion","value":"={{ $json.accion }}","type":"string"},{"id":"txt","name":"content.parts[0].text","value":"={{ $(\"Transcribir Audio (Edge Function)\").item.json.text }}","type":"string"}]},"options":{}},"id":"3d51f605-b391-48a6-9f18-d77f8a65c68b","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1440,240]},{"parameters":{"options":{}},"id":"f84bc268-6fe0-4275-86a4-827984dd2b5f","name":"Respond To Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1632,240]}],"activeVersion":{"nodes":[{"parameters":{"httpMethod":"POST","path":"distill-media","responseMode":"responseNode","options":{}},"id":"b32aa244-ee27-4d95-81ac-82f52b472d3f","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[272,240],"webhookId":"e3324cd0-7b02-4680-8af7-9e2f72372171"},{"parameters":{"assignments":{"assignments":[{"id":"key","name":"GROQ_API_KEY","value":"[REDACTED_GROQ_KEY]","type":"string"}]},"options":{}},"id":"94f78241-adec-488c-a377-9b69dd74df27","name":"Configuración API","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,240]},{"parameters":{"method":"POST","url":"http://192.168.2.16:8089/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"{{ $node[\"Webhook\"].json.body.url }}\",\n  \"downloadMode\": \"audio\"\n}","options":{}},"id":"a98a7197-0db6-4991-aa9a-c797269bf8a2","name":"Get Media URL (Private Cobalt)","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[672,240]},{"parameters":{"method":"POST","url":"https://blwaxxacneipoaufpiag.supabase.co/functions/v1/transcribe-audio","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"audioUrl\": \"{{ $json.url }}\",\n  \"apiKey\": \"{{ $(\"Configuración API\").item.json.GROQ_API_KEY }}\"\n}","options":{"timeout":60000}},"id":"ffa0dd34-cd29-4a65-860e-f1a95c941ad7","name":"Transcribir Audio (Edge Function)","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[864,240]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $(\"Configuración API\").item.json.GROQ_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un experto en curación de contenido digital. Analiza la transcripción y extrae el MÁXIMO valor informativo. Devuelve la respuesta siguiendo estrictamente este formato con encabezados en negrita: **Categoría**, **Subcategorías**, **Herramientas Mencioandas**, **Palabras Clave**, **Resumen Detallado**, **Guía Paso a Paso / Acción**.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analiza esta transcripción:\\n\\n{{ $json.text }}\"\n    }\n  ]\n}","options":{}},"id":"d97b660c-f56e-4048-af0e-6a18d897b2b0","name":"Análisis con LLaMA 3.3","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1056,240]},{"parameters":{"jsCode":"\nvar text = $input.item.json.choices?.[0]?.message?.content || \"\";\nif (!text) { return [{ json: { categoria: \"Otro\", subcategorias: [], herramientas: [], palabras_clave: [], resumen: \"\", accion: \"\" } }]; }\n\nvar catMatch = text.match(/\\*\\*Categor[ií]a\\*\\*:?\\s*(.*?)(?:\\n|$)/i);\nvar subMatch = text.match(/\\*\\*Subcategor[ií]as\\*\\*:?\\s*([\\s\\S]*?)(?=\\n\\*\\*Herramienta|$)/i);\nvar toolMatch = text.match(/\\*\\*Herramientas? Mencion[ao]das?\\*\\*:?\\s*([\\s\\S]*?)(?=\\n\\*\\*Palabras|$)/i);\nvar keyMatch = text.match(/\\*\\*Palabras Clave\\*\\*:?\\s*([\\s\\S]*?)(?=\\n\\*\\*Resumen|$)/i);\nvar resMatch = text.match(/\\*\\*Resumen Detallado\\*\\*:?\\s*([\\s\\S]*?)(?=\\n\\*\\*Gu[ií]a|$)/i);\nvar accMatch = text.match(/\\*\\*Gu[ií]a Paso a Paso \\/ Acci[oó]n\\*\\*:?\\s*([\\s\\S]*?)$/i);\n\nfunction cleanList(m) {\n  if (!m) return [];\n  return m[1].split('\\n').map(function(l) { \n    return l.replace(/^[-\\s*•\\d.]+/, \"\").trim(); \n  }).filter(function(l) { return l.length > 0; });\n}\n\nreturn [{\n  json: {\n    categoria: catMatch ? catMatch[1].trim() : \"Otro\",\n    subcategorias: cleanList(subMatch),\n    herramientas: cleanList(toolMatch),\n    palabras_clave: cleanList(keyMatch),\n    resumen: resMatch ? resMatch[1].trim() : \"\",\n    accion: accMatch ? accMatch[1].trim() : \"\"\n  }\n}];\n"},"id":"c8c40eff-2434-4b46-943b-390bbd7e1160","name":"Code in JavaScript","type":"n8n-nodes-base.code","typeVersion":2,"position":[1248,240]},{"parameters":{"assignments":{"assignments":[{"id":"url","name":"body.url","value":"={{ $(\"Webhook\").item.json.body.url }}","type":"string"},{"id":"cat","name":"categoria","value":"={{ $json.categoria }}","type":"string"},{"id":"sub","name":"subcategorias","value":"={{ $json.subcategorias }}","type":"array"},{"id":"tools","name":"palabras_clave","value":"={{ $json.herramientas.concat($json.palabras_clave) }}","type":"array"},{"id":"res","name":"resumen","value":"={{ $json.resumen }}","type":"string"},{"id":"acc","name":"accion","value":"={{ $json.accion }}","type":"string"},{"id":"txt","name":"content.parts[0].text","value":"={{ $(\"Transcribir Audio (Edge Function)\").item.json.text }}","type":"string"}]},"options":{}},"id":"3d51f605-b391-48a6-9f18-d77f8a65c68b","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1440,240]},{"parameters":{"options":{}},"id":"f84bc268-6fe0-4275-86a4-827984dd2b5f","name":"Respond To Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1632,240]}],"connections":{"Webhook":{"main":[[{"node":"Configuración API","type":"main","index":0}]]},"Configuración API":{"main":[[{"node":"Get Media URL (Private Cobalt)","type":"main","index":0}]]},"Get Media URL (Private Cobalt)":{"main":[[{"node":"Transcribir Audio (Edge Function)","type":"main","index":0}]]},"Transcribir Audio (Edge Function)":{"main":[[{"node":"Análisis con LLaMA 3.3","type":"main","index":0}]]},"Análisis con LLaMA 3.3":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond To Webhook","type":"main","index":0}]]}}},"tags":[],"meta":{"aiBuilderAssisted":true},"parentFolderId":null,"description":"v14: Usa Supabase Edge Function como proxy para transcripcion. Elimina problemas de multipart/binary en n8n. Solo JSON.","scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:unpublish","workflow:unshare","workflow:update","workflow:updateRedactionSetting"],"canExecute":true},"triggerInfo":"This workflow has the following trigger(s):\n\n\nWebhook trigger(s):\n\n\n\t\t\t\t<trigger 1>\n\t\t\t\t\t - Node name: Webhook\n\t\t\t\t\t - Base URL: https://n8n-tuzb.srv1017783.hstgr.cloud/\n\t\t\t\t\t - Production path: /webhook/distill-media\n\t\t\t\t\t - Test path: /webhook-test/distill-media\n\t\t\t\t\t - HTTP Method: POST\n\t\t\t\t\t - Response Mode: Webhook is configured to respond using \"Respond to Webhook\" node.\n\t\t\t\t\t - No credentials required for this webhook.\n\t\t\t\t</trigger 1>"}
