backups/n8n_workflows/Axon_Capture_Inspiration.json
{"workflow":{"id":"6xmOK0q5Nea67XAH","name":"Axon - Capture Inspiration","active":true,"isArchived":false,"versionId":"9e7dbc60-7d2e-4000-911c-238e1088d1b7","activeVersionId":"9e7dbc60-7d2e-4000-911c-238e1088d1b7","triggerCount":1,"createdAt":"2026-05-12T02:45:08.977Z","updatedAt":"2026-05-12T03:03:48.703Z","settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"connections":{"Webhook":{"main":[[{"node":"Extract Metadata","type":"main","index":0}]]},"Extract Metadata":{"main":[[{"node":"Parse HTML","type":"main","index":0}]]},"Parse HTML":{"main":[[{"node":"Classify with Groq","type":"main","index":0}]]},"Classify with Groq":{"main":[[{"node":"Save to Supabase","type":"main","index":0}]]},"Save to Supabase":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"nodes":[{"parameters":{"httpMethod":"POST","path":"capture-inspiration","responseMode":"responseNode","options":{}},"id":"6cefe0ee-266d-4108-a7b1-a8e2a165c89b","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[112,304],"webhookId":"59baabc7-409a-4466-afe7-0432a5afcd63"},{"parameters":{"url":"={{ $json.body.url }}","options":{}},"id":"d027d47a-87be-49ea-9d2d-dd2029d357e0","name":"Extract Metadata","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[304,304]},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"title","cssSelector":"title"},{"key":"description","cssSelector":"meta[name=\"description\"]","returnValue":"attribute","attribute":"content"}]},"options":{}},"id":"55c8e235-5256-42b8-bab5-e17a4fc783d1","name":"Parse HTML","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[512,304]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"groqApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a content classifier. Based on the title and description, classify the URL into one category: 3D, Dev, Video, Marketing, or General. Respond with JSON: {\\\"category\\\": \\\"category_name\\\", \\\"action\\\": \\\"one action to take\\\"}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Title: {{ $json.title }}\\nDesc: {{ $json.description }}\"\n    }\n  ],\n  \"temperature\": 0.2,\n  \"response_format\": {\n    \"type\": \"json_object\"\n  }\n}","options":{}},"id":"808e106b-649d-49e6-abaa-a45ae2eb4b1e","name":"Classify with Groq","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[704,304]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO inspirations (url, title, description, category, action) VALUES ($1, $2, $3, $4, $5)","options":{"queryReplacement":"={{ [ $('Webhook').item.json.body.url, $('Parse HTML').item.json.title, $('Parse HTML').item.json.description, JSON.parse($json.choices[0].message.content).category, JSON.parse($json.choices[0].message.content).action ] }}"}},"id":"208abf7e-3c3a-4798-9d71-3864be255b9b","name":"Save to Supabase","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[912,304]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, message: \"Inspiration captured!\" }) }}","options":{}},"id":"571dc87d-4dbd-4d34-b944-f647ef44622c","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1104,304]}],"activeVersion":{"nodes":[{"parameters":{"httpMethod":"POST","path":"capture-inspiration","responseMode":"responseNode","options":{}},"id":"6cefe0ee-266d-4108-a7b1-a8e2a165c89b","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[112,304],"webhookId":"59baabc7-409a-4466-afe7-0432a5afcd63"},{"parameters":{"url":"={{ $json.body.url }}","options":{}},"id":"d027d47a-87be-49ea-9d2d-dd2029d357e0","name":"Extract Metadata","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[304,304]},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"title","cssSelector":"title"},{"key":"description","cssSelector":"meta[name=\"description\"]","returnValue":"attribute","attribute":"content"}]},"options":{}},"id":"55c8e235-5256-42b8-bab5-e17a4fc783d1","name":"Parse HTML","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[512,304]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"groqApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a content classifier. Based on the title and description, classify the URL into one category: 3D, Dev, Video, Marketing, or General. Respond with JSON: {\\\"category\\\": \\\"category_name\\\", \\\"action\\\": \\\"one action to take\\\"}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Title: {{ $json.title }}\\nDesc: {{ $json.description }}\"\n    }\n  ],\n  \"temperature\": 0.2,\n  \"response_format\": {\n    \"type\": \"json_object\"\n  }\n}","options":{}},"id":"808e106b-649d-49e6-abaa-a45ae2eb4b1e","name":"Classify with Groq","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[704,304]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO inspirations (url, title, description, category, action) VALUES ($1, $2, $3, $4, $5)","options":{"queryReplacement":"={{ [ $('Webhook').item.json.body.url, $('Parse HTML').item.json.title, $('Parse HTML').item.json.description, JSON.parse($json.choices[0].message.content).category, JSON.parse($json.choices[0].message.content).action ] }}"}},"id":"208abf7e-3c3a-4798-9d71-3864be255b9b","name":"Save to Supabase","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[912,304]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, message: \"Inspiration captured!\" }) }}","options":{}},"id":"571dc87d-4dbd-4d34-b944-f647ef44622c","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1104,304]}],"connections":{"Webhook":{"main":[[{"node":"Extract Metadata","type":"main","index":0}]]},"Extract Metadata":{"main":[[{"node":"Parse HTML","type":"main","index":0}]]},"Parse HTML":{"main":[[{"node":"Classify with Groq","type":"main","index":0}]]},"Classify with Groq":{"main":[[{"node":"Save to Supabase","type":"main","index":0}]]},"Save to Supabase":{"main":[[{"node":"Respond","type":"main","index":0}]]}}},"tags":[],"meta":{"aiBuilderAssisted":true},"parentFolderId":null,"description":"Recibe link, extrae metadata OG, clasifica con Groq, guarda en Supabase inspirations y responde al frontend.","scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:unpublish","workflow:unshare","workflow:update","workflow:updateRedactionSetting"],"canExecute":true},"triggerInfo":"This workflow has the following trigger(s):\n\n\nWebhook trigger(s):\n\n\n\t\t\t\t<trigger 1>\n\t\t\t\t\t - Node name: Webhook\n\t\t\t\t\t - Base URL: https://n8n-tuzb.srv1017783.hstgr.cloud/\n\t\t\t\t\t - Production path: /webhook/capture-inspiration\n\t\t\t\t\t - Test path: /webhook-test/capture-inspiration\n\t\t\t\t\t - HTTP Method: POST\n\t\t\t\t\t - Response Mode: Webhook is configured to respond using \"Respond to Webhook\" node.\n\t\t\t\t\t - No credentials required for this webhook.\n\t\t\t\t</trigger 1>"}
