backups/n8n_workflows/Axon_Alarmas_WhatsApp.json
{"workflow":{"id":"wqiAqSFD4xXWyWMD","name":"13. AXON - Alarmas WhatsApp","active":true,"isArchived":false,"versionId":"94ea0f3c-55bf-4e34-b361-0dda2a84f84c","activeVersionId":"94ea0f3c-55bf-4e34-b361-0dda2a84f84c","triggerCount":1,"createdAt":"2026-05-03T00:16:08.084Z","updatedAt":"2026-05-07T11:06:39.786Z","settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"connections":{"Every 5 Minutes":{"main":[[{"node":"Find Due Tasks","type":"main","index":0}]]},"Find Due Tasks":{"main":[[{"node":"Has Tasks?","type":"main","index":0}]]},"Has Tasks?":{"main":[[{"node":"Format WhatsApp Message","type":"main","index":0}],[{"node":"No Tasks Due","type":"main","index":0}]]},"Format WhatsApp Message":{"main":[[{"node":"Send WhatsApp Reminder","type":"main","index":0}]]},"Send WhatsApp Reminder":{"main":[[{"node":"Mark as Notified","type":"main","index":0}]]},"Mark as Notified":{"main":[[{"node":"Create Next Recurrence","type":"main","index":0}]]}},"nodes":[{"id":"1e69ab4c-b40c-4e3c-81bd-592511442e9e","name":"Every 5 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,300],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":5}]}}},{"id":"ae7e66d1-b33f-4938-aa08-f41f8c9805e7","name":"Find Due Tasks","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[250,300],"parameters":{"operation":"executeQuery","query":"SELECT id, title, description, due_date, recurrence, phone FROM tasks WHERE status = 'pending' AND notified = false AND due_date - (reminder_minutes_before * interval '1 minute') <= NOW() ORDER BY due_date ASC LIMIT 50"}},{"id":"4982215d-4764-426c-9512-72d5b896f47c","name":"Has Tasks?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[500,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.id }}","operator":{"type":"string","operation":"exists"}}]}}},{"id":"378ecbd9-e751-4863-8138-e3b5689ebbcc","name":"Format WhatsApp Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[750,200],"parameters":{"mode":"runOnceForEachItem","jsCode":"\nconst task = $json;\nconst d = new Date(task.due_date);\nconst timeStr = d.toLocaleTimeString('es-CO', { hour: '2-digit', minute: '2-digit', timeZone: 'America/Bogota' });\nconst dateStr = d.toLocaleDateString('es-CO', { weekday: 'long', day: 'numeric', month: 'long', timeZone: 'America/Bogota' });\nconst desc = task.description ? '\\n📝 ' + task.description : '';\nconst msg = '⏰ *RECORDATORIO*\\n\\n📌 ' + task.title + desc + '\\n🕐 ' + timeStr + ' - ' + dateStr + '\\n\\n_Este es un recordatorio automatico de Axon Prime_';\nreturn { json: { message: msg, phone: task.phone, taskId: task.id, recurrence: task.recurrence } };\n"}},{"id":"9404f9e6-9567-444b-9b20-864357689a48","name":"Send WhatsApp Reminder","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1000,200],"parameters":{"method":"POST","url":"https://evolution-api-s9xl.srv1017783.hstgr.cloud/message/sendText/axonbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"B0E647B61A18-47C0-B7FF-97656B2E2C13"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: $json.phone, text: $json.message }) }}"}},{"id":"b5893372-fd46-48f8-b6f9-3ec30ede9688","name":"Mark as Notified","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1250,200],"parameters":{"operation":"executeQuery","query":"UPDATE tasks SET notified = true, updated_at = now() WHERE id = $1::uuid RETURNING id, recurrence","options":{"queryReplacement":"={{ [$json.taskId] }}"}}},{"id":"e9cad54f-b81c-4cf7-8c71-d1c6500a30ca","name":"Create Next Recurrence","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1500,200],"parameters":{"operation":"executeQuery","query":"INSERT INTO tasks (title, description, due_date, reminder_minutes_before, recurrence, phone)\nSELECT title, description,\n  CASE recurrence\n    WHEN 'daily' THEN due_date + interval '1 day'\n    WHEN 'weekly' THEN due_date + interval '1 week'\n    WHEN 'monthly' THEN due_date + interval '1 month'\n  END,\n  reminder_minutes_before, recurrence, phone\nFROM tasks WHERE id = $1::uuid AND recurrence IS NOT NULL\nRETURNING id, title, due_date","options":{"queryReplacement":"={{ [$json.id] }}"}}},{"id":"88115aab-3976-4205-8154-7bd4234508a0","name":"No Tasks Due","type":"n8n-nodes-base.code","typeVersion":2,"position":[750,400],"parameters":{"mode":"runOnceForAllItems","jsCode":"return [{ json: { status: 'no_tasks_due' } }];"}}],"activeVersion":{"nodes":[{"id":"1e69ab4c-b40c-4e3c-81bd-592511442e9e","name":"Every 5 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,300],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":5}]}}},{"id":"ae7e66d1-b33f-4938-aa08-f41f8c9805e7","name":"Find Due Tasks","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[250,300],"parameters":{"operation":"executeQuery","query":"SELECT id, title, description, due_date, recurrence, phone FROM tasks WHERE status = 'pending' AND notified = false AND due_date - (reminder_minutes_before * interval '1 minute') <= NOW() ORDER BY due_date ASC LIMIT 50"}},{"id":"4982215d-4764-426c-9512-72d5b896f47c","name":"Has Tasks?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[500,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.id }}","operator":{"type":"string","operation":"exists"}}]}}},{"id":"378ecbd9-e751-4863-8138-e3b5689ebbcc","name":"Format WhatsApp Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[750,200],"parameters":{"mode":"runOnceForEachItem","jsCode":"\nconst task = $json;\nconst d = new Date(task.due_date);\nconst timeStr = d.toLocaleTimeString('es-CO', { hour: '2-digit', minute: '2-digit', timeZone: 'America/Bogota' });\nconst dateStr = d.toLocaleDateString('es-CO', { weekday: 'long', day: 'numeric', month: 'long', timeZone: 'America/Bogota' });\nconst desc = task.description ? '\\n📝 ' + task.description : '';\nconst msg = '⏰ *RECORDATORIO*\\n\\n📌 ' + task.title + desc + '\\n🕐 ' + timeStr + ' - ' + dateStr + '\\n\\n_Este es un recordatorio automatico de Axon Prime_';\nreturn { json: { message: msg, phone: task.phone, taskId: task.id, recurrence: task.recurrence } };\n"}},{"id":"9404f9e6-9567-444b-9b20-864357689a48","name":"Send WhatsApp Reminder","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1000,200],"parameters":{"method":"POST","url":"https://evolution-api-s9xl.srv1017783.hstgr.cloud/message/sendText/axonbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"B0E647B61A18-47C0-B7FF-97656B2E2C13"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: $json.phone, text: $json.message }) }}"}},{"id":"b5893372-fd46-48f8-b6f9-3ec30ede9688","name":"Mark as Notified","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1250,200],"parameters":{"operation":"executeQuery","query":"UPDATE tasks SET notified = true, updated_at = now() WHERE id = $1::uuid RETURNING id, recurrence","options":{"queryReplacement":"={{ [$json.taskId] }}"}}},{"id":"e9cad54f-b81c-4cf7-8c71-d1c6500a30ca","name":"Create Next Recurrence","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1500,200],"parameters":{"operation":"executeQuery","query":"INSERT INTO tasks (title, description, due_date, reminder_minutes_before, recurrence, phone)\nSELECT title, description,\n  CASE recurrence\n    WHEN 'daily' THEN due_date + interval '1 day'\n    WHEN 'weekly' THEN due_date + interval '1 week'\n    WHEN 'monthly' THEN due_date + interval '1 month'\n  END,\n  reminder_minutes_before, recurrence, phone\nFROM tasks WHERE id = $1::uuid AND recurrence IS NOT NULL\nRETURNING id, title, due_date","options":{"queryReplacement":"={{ [$json.id] }}"}}},{"id":"88115aab-3976-4205-8154-7bd4234508a0","name":"No Tasks Due","type":"n8n-nodes-base.code","typeVersion":2,"position":[750,400],"parameters":{"mode":"runOnceForAllItems","jsCode":"return [{ json: { status: 'no_tasks_due' } }];"}}],"connections":{"Every 5 Minutes":{"main":[[{"node":"Find Due Tasks","type":"main","index":0}]]},"Find Due Tasks":{"main":[[{"node":"Has Tasks?","type":"main","index":0}]]},"Has Tasks?":{"main":[[{"node":"Format WhatsApp Message","type":"main","index":0}],[{"node":"No Tasks Due","type":"main","index":0}]]},"Format WhatsApp Message":{"main":[[{"node":"Send WhatsApp Reminder","type":"main","index":0}]]},"Send WhatsApp Reminder":{"main":[[{"node":"Mark as Notified","type":"main","index":0}]]},"Mark as Notified":{"main":[[{"node":"Create Next Recurrence","type":"main","index":0}]]}}},"tags":[],"meta":{"aiBuilderAssisted":true},"parentFolderId":null,"description":"Revisa tareas proximas y envia recordatorios por WhatsApp. URL de Evolution API corregida.","scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:unpublish","workflow:unshare","workflow:update","workflow:updateRedactionSetting"],"canExecute":true},"triggerInfo":"This workflow has the following trigger(s):\n\n\nSchedule trigger(s):\n\n\n\t\t\t\t<trigger 1>\n\t\t\t\t\t - Node name: Every 5 Minutes\n\t\t\t\t</trigger 1>\n\nScheduled workflows can be executed directly through MCP clients and do not require external inputs."}
