backups/n8n_workflows/Cerebro_Cargador_RAG.json
{"workflow":{"id":"Z0uxu5eI8oVdojDT","name":"01. CEREBRO - Cargador RAG","active":false,"isArchived":false,"versionId":"ab30c402-f69c-4a37-b236-8b64455f88eb","activeVersionId":null,"triggerCount":0,"createdAt":"2026-05-02T15:50:17.477Z","updatedAt":"2026-05-07T11:06:36.731Z","settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"connections":{"Subir Archivo":{"main":[[{"node":"Corregir Mime","type":"main","index":0}]]},"Corregir Mime":{"main":[[{"node":"Extraer Texto","type":"main","index":0}]]},"Extraer Texto":{"main":[[{"node":"Crear Chunks","type":"main","index":0}]]},"Crear Chunks":{"main":[[{"node":"Gemini Embedding","type":"main","index":0}]]},"Gemini Embedding":{"main":[[{"node":"Guardar en Supabase","type":"main","index":0}]]},"Guardar en Supabase":{"main":[[{"node":"Respuesta","type":"main","index":0}]]}},"nodes":[{"parameters":{"path":"e13bbe7a-7a45-4dfb-b861-907ef37bbded","formTitle":"Cargador de Conocimiento Axon","formDescription":"Sube archivos para alimentar las bases de conocimiento RAG.","formFields":{"values":[{"fieldLabel":"Base de Conocimiento","fieldType":"dropdown","fieldOptions":{"values":[{"option":"kb_hansbiomed"},{"option":"kb_mildred"},{"option":"kb_marketing"},{"option":"kb_medicina_estetica"},{"option":"hansbiomed_knowledge"}]},"requiredField":true},{"fieldLabel":"Archivo","fieldType":"file","requiredField":true}]},"responseMode":"lastNode","options":{}},"id":"9cf36189-b4d3-4965-8f41-e5fde1fd327a","name":"Subir Archivo","type":"n8n-nodes-base.formTrigger","typeVersion":2.1,"position":[-480,48],"webhookId":"e13bbe7a-7a45-4dfb-b861-907ef37bbded"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  for (const key of Object.keys(item.binary || {})) {\n    const bin = item.binary[key];\n    const name = (bin.fileName || '').toLowerCase();\n    if (bin.mimeType === 'application/octet-stream') {\n      if (name.endsWith('.pdf')) bin.mimeType = 'application/pdf';\n      else bin.mimeType = 'text/plain';\n    }\n  }\n}\nreturn $input.all();"},"id":"883467c8-e7b2-407c-9a23-a27178643d63","name":"Corregir Mime","type":"n8n-nodes-base.code","typeVersion":2,"position":[-272,48]},{"parameters":{"operation":"text","binaryPropertyName":"Archivo","options":{}},"id":"9230be4b-f905-4b47-b720-6543ced06e3b","name":"Extraer Texto","type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-80,48]},{"parameters":{"jsCode":"const text = $input.first().json.data;\n// Read KB from the form trigger node directly (not current input)\nconst kb = $('Subir Archivo').first().json['Base de Conocimiento'] || 'hansbiomed_knowledge';\nconst chunkSize = 1000;\nconst overlap = 200;\nconst chunks = [];\nlet pos = 0;\nwhile (pos < text.length) {\n  const end = Math.min(pos + chunkSize, text.length);\n  chunks.push({ content: text.slice(pos, end), kb_table: kb });\n  pos += chunkSize - overlap;\n  if (end === text.length) break;\n}\nreturn chunks;"},"id":"7151a9c9-0640-427e-a4cc-2000c915b9be","name":"Crear Chunks","type":"n8n-nodes-base.code","typeVersion":2,"position":[128,48]},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent?key=AIzaSyDiXWYgdrjC090CFappx_-KD9uoONRa2Ps","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ content: { parts: [{ text: $json.content }] }, outputDimensionality: 768 }) }}","options":{"batching":{"batch":{"batchSize":5,"batchInterval":2000}}}},"id":"a1be4bd6-4deb-400e-bab1-8f1e854212ce","name":"Gemini Embedding","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[320,48]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO {{ $node[\"Crear Chunks\"].json.kb_table }} (content, metadata, embedding) VALUES ($1, $2, $3)","options":{"queryReplacement":"={{ [ $node[\"Crear Chunks\"].json.content, JSON.stringify({source: \"form_upload\", kb: $node[\"Crear Chunks\"].json.kb_table}), \"[\" + $json.embedding.values.join(\",\") + \"]\" ] }}"}},"id":"819196d6-49df-45e6-9094-9bad1b20d7bb","name":"Guardar en Supabase","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[528,48]},{"parameters":{"fields":{"values":[{"name":"resultado","type":"string"}]},"options":{}},"id":"acedb300-e255-47f7-9144-42f04a26f21c","name":"Respuesta","type":"n8n-nodes-base.set","typeVersion":3,"position":[720,48]}],"activeVersion":null,"tags":[],"meta":{"aiBuilderAssisted":true,"templateCredsSetupCompleted":true},"parentFolderId":null,"description":"Fixed: Crear Chunks now reads KB name from form trigger node using $() syntax instead of $json which gets overwritten by Extract From File.","scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:unpublish","workflow:unshare","workflow:update","workflow:updateRedactionSetting"],"canExecute":true},"triggerInfo":"This workflow has the following trigger(s):\n\n\nForm trigger(s):\n\n\n\t\t\t\t<trigger 1>\n\t\t\t\t\t - Node name: Subir Archivo\n\t\t\t\t\t - Form fields: {\"values\":[{\"fieldLabel\":\"Base de Conocimiento\",\"fieldType\":\"dropdown\",\"fieldOptions\":{\"values\":[{\"option\":\"kb_hansbiomed\"},{\"option\":\"kb_mildred\"},{\"option\":\"kb_marketing\"},{\"option\":\"kb_medicina_estetica\"},{\"option\":\"hansbiomed_knowledge\"}]},\"requiredField\":true},{\"fieldLabel\":\"Archivo\",\"fieldType\":\"file\",\"requiredField\":true}]}\n\t\t\t\t</trigger 1>\n\nUse the following input format when directly executing this workflow using any of the form triggers: { inputs { formData: Array<{ FIELD_NAME: VALUE }> } }"}
