backups/n8n_workflows/LinkedIn_USA_Restored.json
{"workflow":{"id":"jj7xvK7TLPqD0c2c","name":"Axon Prime - Vigilancia LinkedIn USA (Restored)","active":true,"isArchived":false,"versionId":"f2819e7d-37ef-48e9-8895-56e3c6556570","activeVersionId":"f2819e7d-37ef-48e9-8895-56e3c6556570","triggerCount":1,"createdAt":"2026-05-07T03:18:59.346Z","updatedAt":"2026-05-07T03:49:44.135Z","settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"connections":{"Cada 15 Minutos":{"main":[[{"node":"Agente Investigador de Empleos","type":"main","index":0}]]},"Agente Investigador de Empleos":{"main":[[{"node":"Parsear Resultados","type":"main","index":0}]]},"OpenRouter Perplexity":{"ai_languageModel":[[{"node":"Agente Investigador de Empleos","type":"ai_languageModel","index":0}]]},"Parsear Resultados":{"main":[[{"node":"¿Hay ofertas?","type":"main","index":0}]]},"¿Hay ofertas?":{"main":[[{"node":"Formatear Mensaje","type":"main","index":0}]]},"Formatear Mensaje":{"main":[[{"node":"Notificar WhatsApp","type":"main","index":0}]]}},"nodes":[{"id":"c73d2031-f9ba-458b-a3b9-8375fee79102","name":"Cada 15 Minutos","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}}},{"id":"1ca6afdf-6bd9-4b1b-a484-f7afc65b3c9e","name":"Agente Investigador de Empleos","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[250,0],"parameters":{"promptType":"define","text":"Eres un headhunter especializado en perfiles médicos técnicos. Tu misión es buscar en internet (especialmente LinkedIn y portales de USA) ofertas de empleo recientes para: \n1. Ilustrador Médico 3D / Graficación Quirúrgica\n2. Producción de Videos Médicos con IA Profesional\n3. Graficación de libros de medicina.\n\nBusca solo ofertas en USA. Filtra aquellas que requieran alta precisión o perfil médico. \n\nIMPORTANTE: Debes realizar una búsqueda real en la web. Si encuentras ofertas, devuelve una lista JSON con: { \"encontrado\": true, \"ofertas\": [{ \"titulo\": \"...\", \"link\": \"...\", \"resumen\": \"...\" }] }. \nSi no hay nada nuevo o relevante, devuelve { \"encontrado\": false }.","options":{"systemMessage":"Responde siempre en formato JSON válido. No incluyas explicaciones fuera del JSON."}}},{"id":"a01940c7-bd98-4891-88ad-b4f0e2c18d80","name":"OpenRouter Perplexity","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[250,200],"parameters":{"model":"perplexity/sonar"}},{"id":"597b7adf-6b72-4278-afae-fcd32c853f3d","name":"Parsear Resultados","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[500,0],"parameters":{"mode":"manual","fields":{"values":[{"name":"data","value":"={{ JSON.parse($json.output) }}"}]}}},{"id":"fbd393f5-6de5-4989-ba4b-eb9709e797e3","name":"¿Hay ofertas?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[750,0],"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.data.encontrado }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]}}},{"id":"2d1c81cb-be86-4a8b-a304-82c01d149d8b","name":"Formatear Mensaje","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,0],"parameters":{"jsCode":"const data = $json.data;\nlet msg = \"🚀 *NUEVAS OPORTUNIDADES USA*\\n\\n\";\ndata.ofertas.forEach(o => {\n  msg += `📌 *${o.titulo}*\\n🔗 ${o.link}\\n📝 ${o.resumen}\\n\\n`;\n});\nreturn { json: { message: msg } };"}},{"id":"df7bd376-05c5-447f-9903-81bd4ee1c590","name":"Notificar WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1250,0],"parameters":{"method":"POST","url":"https://evolution-api-s9xl.srv1017783.hstgr.cloud/message/sendText/axonbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"B0E647B61A18-47C0-B7FF-97656B2E2C13"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: \"573004570442\", text: $json.message }) }}"}}],"activeVersion":{"nodes":[{"id":"c73d2031-f9ba-458b-a3b9-8375fee79102","name":"Cada 15 Minutos","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}}},{"id":"1ca6afdf-6bd9-4b1b-a484-f7afc65b3c9e","name":"Agente Investigador de Empleos","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[250,0],"parameters":{"promptType":"define","text":"Eres un headhunter especializado en perfiles médicos técnicos. Tu misión es buscar en internet (especialmente LinkedIn y portales de USA) ofertas de empleo recientes para: \n1. Ilustrador Médico 3D / Graficación Quirúrgica\n2. Producción de Videos Médicos con IA Profesional\n3. Graficación de libros de medicina.\n\nBusca solo ofertas en USA. Filtra aquellas que requieran alta precisión o perfil médico. \n\nIMPORTANTE: Debes realizar una búsqueda real en la web. Si encuentras ofertas, devuelve una lista JSON con: { \"encontrado\": true, \"ofertas\": [{ \"titulo\": \"...\", \"link\": \"...\", \"resumen\": \"...\" }] }. \nSi no hay nada nuevo o relevante, devuelve { \"encontrado\": false }.","options":{"systemMessage":"Responde siempre en formato JSON válido. No incluyas explicaciones fuera del JSON."}}},{"id":"a01940c7-bd98-4891-88ad-b4f0e2c18d80","name":"OpenRouter Perplexity","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[250,200],"parameters":{"model":"perplexity/sonar"}},{"id":"597b7adf-6b72-4278-afae-fcd32c853f3d","name":"Parsear Resultados","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[500,0],"parameters":{"mode":"manual","fields":{"values":[{"name":"data","value":"={{ JSON.parse($json.output) }}"}]}}},{"id":"fbd393f5-6de5-4989-ba4b-eb9709e797e3","name":"¿Hay ofertas?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[750,0],"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.data.encontrado }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]}}},{"id":"2d1c81cb-be86-4a8b-a304-82c01d149d8b","name":"Formatear Mensaje","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,0],"parameters":{"jsCode":"const data = $json.data;\nlet msg = \"🚀 *NUEVAS OPORTUNIDADES USA*\\n\\n\";\ndata.ofertas.forEach(o => {\n  msg += `📌 *${o.titulo}*\\n🔗 ${o.link}\\n📝 ${o.resumen}\\n\\n`;\n});\nreturn { json: { message: msg } };"}},{"id":"df7bd376-05c5-447f-9903-81bd4ee1c590","name":"Notificar WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1250,0],"parameters":{"method":"POST","url":"https://evolution-api-s9xl.srv1017783.hstgr.cloud/message/sendText/axonbot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"B0E647B61A18-47C0-B7FF-97656B2E2C13"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: \"573004570442\", text: $json.message }) }}"}}],"connections":{"Cada 15 Minutos":{"main":[[{"node":"Agente Investigador de Empleos","type":"main","index":0}]]},"Agente Investigador de Empleos":{"main":[[{"node":"Parsear Resultados","type":"main","index":0}]]},"OpenRouter Perplexity":{"ai_languageModel":[[{"node":"Agente Investigador de Empleos","type":"ai_languageModel","index":0}]]},"Parsear Resultados":{"main":[[{"node":"¿Hay ofertas?","type":"main","index":0}]]},"¿Hay ofertas?":{"main":[[{"node":"Formatear Mensaje","type":"main","index":0}]]},"Formatear Mensaje":{"main":[[{"node":"Notificar WhatsApp","type":"main","index":0}]]}}},"tags":[],"meta":{"aiBuilderAssisted":true},"parentFolderId":null,"description":"Vigilancia de empleo en USA usando OpenRouter (Perplexity). Notificaciones por WhatsApp con URL corregida.","scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:unpublish","workflow:unshare","workflow:update","workflow:updateRedactionSetting"],"canExecute":true},"triggerInfo":"This workflow has the following trigger(s):\n\n\nSchedule trigger(s):\n\n\n\t\t\t\t<trigger 1>\n\t\t\t\t\t - Node name: Cada 15 Minutos\n\t\t\t\t</trigger 1>\n\nScheduled workflows can be executed directly through MCP clients and do not require external inputs."}
