backups/n8n_workflows/Slicer_Arquitecto.json
{"workflow":{"id":"9tLlLHhP7yfrzY50","name":"21. SLICER - Arquitecto Base URL: http://localhost:8080/v1","active":true,"isArchived":false,"versionId":"841f4e2f-69d3-4da7-9c29-8e4808eb8453","activeVersionId":"25393fd5-1958-48af-aee6-a925276d2efb","triggerCount":1,"createdAt":"2026-05-04T14:59:25.844Z","updatedAt":"2026-05-08T10:45:47.981Z","settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"connections":{"Webhook Axon Architect":{"main":[[{"node":"Arquitecto Axon Pro 360","type":"main","index":0}]]},"Arquitecto Axon Pro 360":{"main":[[{"node":"Limpiar JSON","type":"main","index":0}]]},"Groq Llama 3.3 Architect":{"ai_languageModel":[[{"node":"Arquitecto Axon Pro 360","type":"ai_languageModel","index":0}]]},"Limpiar JSON":{"main":[[{"node":"Responder","type":"main","index":0}]]}},"nodes":[{"id":"2b36a107-2b2d-4822-a5db-681862bee6be","name":"Webhook Axon Architect","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,304],"parameters":{"httpMethod":"POST","path":"axon-architect","responseMode":"responseNode"},"webhookId":"f50f30c1-484e-4f8a-b45e-ae2caf418e05"},{"id":"cdcec863-ea3d-49ec-8c3c-738473054772","name":"Arquitecto Axon Pro 360","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[256,304],"parameters":{"promptType":"define","text":"=IDEA: {{ $json.body.idea }}\n\nAnaliza esta idea usando tus herramientas para crear un plan de proyecto real.","options":{"systemMessage":"### ROLE: AXON ARCHITECT PRO 360 (POWERED BY LLAMA 3.3 GROQ)\nEres la mente maestra detrás de los proyectos de Pipe y Tati. Tu objetivo es la EFICIENCIA RADICAL y la DELEGACIÓN ESTRATÉGICA.\n\n### PERFILES DE EQUIPO:\n- **PIPE (El Ejecutor Creativo/TDAH)**: Experto en ejecución técnica extrema y multipotencial.\n  * Habilidades Core: Ableton (Música/Virtual Inst), Vibe Coding (Web/App automation), 3D (Flsun V400, Elegoo Saturn 2, Orca Slicer, Blender), Diseño (Adobe Suite, Canva), Video (Premiere/After Effects - S22 Ultra), Máquinas (Wilcom Embroidery, Silhouette Studio, Lightburn).\n  * Contexto: Necesita pasos atómicos y técnicos para evitar la parálisis del TDAH. Es instrumentador quirúrgico y atleta (7/10).\n- **TATI (La Estratega)**: Inteligencia financiera y estratégica. Negocios Internacionales.\n  * Enfoque: Rentabilidad, ROI, Análisis de mercado, Relacionamiento humano (Médicos estéticos), Gestión de Nyvara y Mildred.\n  * Estilo: Analítica, divertida, escucha activa.\n- **ROBOT (El Motor IA)**: Automatización, RAG, Web Scraping, Generación de borradores, Investigación técnica.\n\n### DIRECTIVAS DE DISEÑO DE PROYECTO:\n1. **VISIÓN**: Expande la idea inicial en una \"suggested_description\" de ALTO VALOR técnico y estratégico. Menciona herramientas específicas (ej: \"Renderizar en Blender\", \"Optimizar ROI en Excel\").\n2. **DELEGACIÓN EQUILIBRADA**: No sobrecargues a Pipe. Distribuye:\n   - Pipe: Creación técnica, 3D, música, vibe coding, contenido visual.\n   - Tati: Estructura legal/financiera, estrategia comercial, cierre de ventas, planificación.\n   - Robot: Tareas repetitivas, investigación masiva, borrador de copy.\n3. **INSPIRACIÓN**: Tono \"Mission Impossible\" / \"Cyberpunk\". Cero relleno. Enfoque en el sueño de la Vanlife y el crecimiento de Nyvara.\n\n### FORMATO DE RESPUESTA (JSON PURO):\n{\n  \"suggested_title\": \"PROYECTO: [Nombre Pro]\",\n  \"suggested_description\": \"[Estrategia de ejecución optimizada con detalles de herramientas]\",\n  \"energy_level\": \"high/medium/low\",\n  \"steps\": [\n    {\n      \"task\": \"[Asignado]: [Acción técnica específica]\",\n      \"assignee\": \"Pipe/Tati/Robot\",\n      \"duration\": 25\n    }\n  ]\n}"}}},{"id":"ca506ef9-1313-4887-92e1-0516b88b8f31","name":"Groq Llama 3.3 Architect","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[256,512],"parameters":{"model":"llama-3.3-70b-versatile","options":{"temperature":0}}},{"id":"e3eda78d-41f3-464d-922f-b08ee7817eb5","name":"Limpiar JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,304],"parameters":{"jsCode":"let text = $json.output || \"\";\ntext = text.replace(/\\\\`\\\\`\\\\`json/g, \"\").replace(/\\\\`\\\\`\\\\`/g, \"\").trim();\ntry {\n  return JSON.parse(text);\n} catch (e) {\n  const match = text.match(/\\\\{.*\\\\}/s);\n  if (match) return JSON.parse(match[0]);\n  return { suggested_title: \"Error\", suggested_description: text };\n}"}},{"id":"9a37ff21-ec5c-4c61-808c-95ae8f57bbc6","name":"Responder","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[752,304],"parameters":{"respondWith":"json","responseBody":"={{ $json }}"}}],"activeVersion":{"nodes":[{"parameters":{"httpMethod":"POST","path":"axon-architect","responseMode":"responseNode","options":{}},"id":"2b36a107-2b2d-4822-a5db-681862bee6be","name":"Webhook Axon Architect","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,304],"webhookId":"281fd4ef-c8fa-424f-8708-97916fe6f1ed"},{"parameters":{"promptType":"define","text":"=IDEA: {{ $json.body.idea }}\n\nAnaliza esta idea usando tus herramientas para crear un plan de proyecto real.","options":{"systemMessage":"### ROLE: AXON ARCHITECT PRO 360 (POWERED BY LLAMA 3.3 GROQ)\nEres la mente maestra detrás de los proyectos de Pipe y Tati. Tu objetivo es la EFICIENCIA RADICAL.\n\n### CONTEXTO DE EQUIPO:\n- PIPE: Ejecución técnica extrema (Ableton, Code, 3D, Video Pro S22 Ultra).\n- TATI: Inteligencia financiera y estratégica. Gestión de Nyvara y Mildred.\n- ROBOT: Automatización e investigación masiva.\n\n### DIRECTIVAS DE ESTILO:\n1. TONO: Técnico, seco, inteligente. Cero relleno publicitario. Estilo \"Mission Impossible\" / \"Cyberpunk\".\n2. TÍTULOS: Formato \"PROYECTO: [NOMBRE_PRO]\".\n3. ESTRATEGIA: La descripción debe ser un párrafo corto que defina la ventaja competitiva del proyecto.\n\n### PROTOCOLO DE FRAGMENTACIÓN (TDAH FRIENDLY):\n- Pasos de 25-50 min.\n- Cada paso debe mencionar una herramienta específica de los skills de Pipe o Tati.\n\n### FORMATO DE RESPUESTA (JSON PURO):\n{\n  \"suggested_title\": \"PROYECTO: [Nombre]\",\n  \"suggested_description\": \"Estrategia de ejecución optimizada para maximizar el ROI y la calidad técnica.\",\n  \"energy_level\": \"high\",\n  \"steps\": [\n    {\n      \"task\": \"Pipe: [Acción Técnica] con [Herramienta]\",\n      \"assignee\": \"Pipe\",\n      \"duration\": 25\n    },\n    {\n      \"task\": \"Tati: [Validación/Estrategia] de [Objetivo]\",\n      \"assignee\": \"Tati\",\n      \"duration\": 25\n    },\n    {\n      \"task\": \"Robot: [Automatización/Data] para [Contexto]\",\n      \"assignee\": \"Robot\",\n      \"duration\": 25\n    }\n  ]\n}\n"}},"id":"cdcec863-ea3d-49ec-8c3c-738473054772","name":"Arquitecto Axon Pro 360","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[256,304]},{"parameters":{"model":"llama-3.3-70b-versatile","options":{"temperature":0}},"id":"ca506ef9-1313-4887-92e1-0516b88b8f31","name":"Groq Llama 3.3 Architect","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[256,512]},{"parameters":{"jsCode":"\n        let text = $json.output || \"\";\n        text = text.replace(/\\`\\`\\`json/g, '').replace(/\\`\\`\\`/g, '').trim();\n        try {\n          return JSON.parse(text);\n        } catch (e) {\n          const match = text.match(/\\{.*\\}/s);\n          if (match) return JSON.parse(match[0]);\n          return { suggested_title: \"Error\", suggested_description: text };\n        }\n      "},"id":"e3eda78d-41f3-464d-922f-b08ee7817eb5","name":"Limpiar JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,304]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"9a37ff21-ec5c-4c61-808c-95ae8f57bbc6","name":"Responder","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[752,304]}],"connections":{"Webhook Axon Architect":{"main":[[{"node":"Arquitecto Axon Pro 360","type":"main","index":0}]]},"Arquitecto Axon Pro 360":{"main":[[{"node":"Limpiar JSON","type":"main","index":0}]]},"Groq Llama 3.3 Architect":{"ai_languageModel":[[{"node":"Arquitecto Axon Pro 360","type":"ai_languageModel","index":0}]]},"Limpiar JSON":{"main":[[{"node":"Responder","type":"main","index":0}]]}}},"tags":[],"meta":{"aiBuilderAssisted":true},"parentFolderId":null,"description":"Optimización del Arquitecto con perfiles de Pipe y Tati para delegación inteligente y enfoque TDAH.","scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:unpublish","workflow:unshare","workflow:update","workflow:updateRedactionSetting"],"canExecute":true},"triggerInfo":"This workflow has the following trigger(s):\n\n\nWebhook trigger(s):\n\n\n\t\t\t\t<trigger 1>\n\t\t\t\t\t - Node name: Webhook Axon Architect\n\t\t\t\t\t - Base URL: https://n8n-tuzb.srv1017783.hstgr.cloud/\n\t\t\t\t\t - Production path: /webhook/axon-architect\n\t\t\t\t\t - Test path: /webhook-test/axon-architect\n\t\t\t\t\t - HTTP Method: POST\n\t\t\t\t\t - Response Mode: Webhook is configured to respond using \"Respond to Webhook\" node.\n\t\t\t\t\t - No credentials required for this webhook.\n\t\t\t\t</trigger 1>"}
