backups/n8n_workflows/Slicer_Rebanador.json
{"workflow":{"id":"pT6qM5x1mEtlPuSG","name":"22. SLICER - Rebanador Base URL: http://localhost:8080/v1","active":true,"isArchived":false,"versionId":"dc1c3b69-c9cc-426d-8cf8-3b8820c6579c","activeVersionId":"173389be-2cea-4e11-a5a9-f4c5382a728e","triggerCount":1,"createdAt":"2026-05-04T03:24:54.015Z","updatedAt":"2026-05-08T10:46:05.270Z","settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"connections":{"Webhook Axon Slicer":{"main":[[{"node":"Filtro de Entrada","type":"main","index":0}]]},"Filtro de Entrada":{"main":[[{"node":"Axon Slicer Nyvara Edition","type":"main","index":0}]]},"Axon Slicer Nyvara Edition":{"main":[[{"node":"Limpiar JSON","type":"main","index":0}]]},"Groq Llama 3.3":{"ai_languageModel":[[{"node":"Axon Slicer Nyvara Edition","type":"ai_languageModel","index":0}]]},"Limpiar JSON":{"main":[[{"node":"Responder a App","type":"main","index":0}]]}},"nodes":[{"id":"9c163446-6df7-4f5c-9370-66af10f13a28","name":"Webhook Axon Slicer","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-32,304],"parameters":{"httpMethod":"POST","path":"axon-slicer","responseMode":"responseNode"},"webhookId":"9b5116ad-7188-4d3d-8c29-d82cbea33f60"},{"id":"a72f7685-c286-4366-af93-233005da729d","name":"Filtro de Entrada","type":"n8n-nodes-base.code","typeVersion":2,"position":[160,304],"parameters":{"jsCode":"\n        const title = ($json.body.title || \"\").trim();\n        const description = ($json.body.description || \"\").trim();\n        return {\n          clean_title: title,\n          clean_desc: description,\n          timestamp: new Date().toISOString()\n        };\n      "}},{"id":"59fbef91-2797-4e9b-96a2-827ba174b917","name":"Axon Slicer Nyvara Edition","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[400,304],"parameters":{"promptType":"define","text":"=PROYECTO: {{ $json.clean_title }}\nDESC: {{ $json.clean_desc }}","options":{"systemMessage":"### ROLE: AXON SLICER NYVARA EDITION (TDAH-OPTIMIZED)\nEres el \"Gran Picador\" de Axon. Tu misión es tomar una descripción de proyecto y convertirla en una lista MASIVA y ATÓMICA de micro-tareas para derrotar la parálisis del TDAH.\n\n### DIRECTIVAS DE REBANADO:\n1. **GRANULARIDAD EXTREMA**: Genera entre 10 y 20 tareas para proyectos complejos. Nada de pasos genéricos.\n2. **ASIGNACIÓN INTELIGENTE (Nyvara Team)**:\n   - **Pipe**: Todo lo creativo/técnico: Ableton (música), 3D printing (Flsun/Elegoo), Vibe Coding (web/apps), Video/Foto (S22 Ultra), Diseño (Adobe/Canva).\n   - **Tati**: Todo lo estratégico/financiero: Negocios, ROI, Gestión de pacientes/médicos, Planificación comercial.\n   - **Robot**: Automatización, SEO, Research masivo, Copywriting base.\n3. **INFO DE ALTO VALOR**: Cada tarea debe incluir un detalle técnico \"pro\" (ej: \"Ajustar z-offset\", \"Compresión en Ableton\", \"Calcular margen bruto\").\n4. **POMODORO STRICT**: Pasos de 25 o 50 min. Nada más largo.\n\n### FORMATO DE RESPUESTA (JSON PURO):\n{\n  \"suggested_title\": \"Título Corto Pro\",\n  \"suggested_description\": \"Estrategia técnica resumida.\",\n  \"energy_level\": \"high/medium/low\",\n  \"steps\": [\n    { \"task\": \"Pipe: [Acción técnica con Herramienta]\", \"assignee\": \"Pipe\", \"duration\": 25 },\n    { \"task\": \"Tati: [Acción estratégica de Negocio]\", \"assignee\": \"Tati\", \"duration\": 25 },\n    { \"task\": \"Robot: [Acción automatizada/Data]\", \"assignee\": \"Robot\", \"duration\": 25 }\n  ]\n}"}}},{"id":"a26abcbf-c52e-4e44-95d0-134ac9117ee8","name":"Groq Llama 3.3","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[400,560],"parameters":{"model":"llama-3.3-70b-versatile","options":{"temperature":0.1}}},{"id":"09e1d967-ecb0-4b52-bc3b-ca9f182ce4cc","name":"Limpiar JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[656,304],"parameters":{"jsCode":"let text = $json.output || \"\";\ntext = text.replace(/\\\\`\\\\`\\\\`json/g, \"\").replace(/\\\\`\\\\`\\\\`/g, \"\").trim();\ntry {\n  return JSON.parse(text);\n} catch (e) {\n  const match = text.match(/\\\\{.*\\\\}/s);\n  if (match) return JSON.parse(match[0]);\n  return { error: \"No JSON\", raw: text };\n}"}},{"id":"cda50d06-ed85-4217-8058-b3e76913766f","name":"Responder a App","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[912,304],"parameters":{"respondWith":"json","responseBody":"={{ $json }}"}}],"activeVersion":{"nodes":[{"parameters":{"httpMethod":"POST","path":"axon-slicer","responseMode":"responseNode","options":{}},"id":"9c163446-6df7-4f5c-9370-66af10f13a28","name":"Webhook Axon Slicer","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-32,304],"webhookId":"669fb4ec-b084-4843-a8ee-5e5546541fc8"},{"parameters":{"jsCode":"\n        const title = ($json.body.title || \"\").trim();\n        const description = ($json.body.description || \"\").trim();\n        return {\n          clean_title: title,\n          clean_desc: description,\n          timestamp: new Date().toISOString()\n        };\n      "},"id":"a72f7685-c286-4366-af93-233005da729d","name":"Filtro de Entrada","type":"n8n-nodes-base.code","typeVersion":2,"position":[160,304]},{"parameters":{"promptType":"define","text":"=PROYECTO: {{ $json.clean_title }}\nDESC: {{ $json.clean_desc }}","options":{"systemMessage":"Eres el Arquitecto Axon Pro 360. Responde ÚNICAMENTE en JSON. NO USES LENGUAJE MOTIVACIONAL.\n\nEQUIPO:\n- Pipe: Técnico Pro (Ableton, Vibe Coding, 3D printing, Premiere, S22 Ultra).\n- Tati: Estratega & Finanzas (Negocios, rentabilidad, planificación).\n- Robot: IA (SEO, Keywords, automatización).\n\nESTRUCTURA DE RESPUESTA JSON (ESTRICTA):\n{\n  \"suggested_title\": \"Título Corto Pro\",\n  \"suggested_description\": \"Estrategia técnica de ejecución.\",\n  \"energy_level\": \"medium\",\n  \"steps\": [\n    {\"task\": \"Tarea técnica\", \"assignee\": \"Pipe\", \"duration\": 25},\n    {\"task\": \"Tarea analítica\", \"assignee\": \"Tati\", \"duration\": 25},\n    {\"task\": \"Tarea IA\", \"assignee\": \"Robot\", \"duration\": 25}\n  ]\n}\n"}},"id":"59fbef91-2797-4e9b-96a2-827ba174b917","name":"Axon Slicer Nyvara Edition","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[400,304]},{"parameters":{"model":"llama-3.3-70b-versatile","options":{"temperature":0.1}},"id":"a26abcbf-c52e-4e44-95d0-134ac9117ee8","name":"Groq Llama 3.3","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[400,560]},{"parameters":{"jsCode":"\n        let text = $json.output || \"\";\n        text = text.replace(/\\`\\`\\`json/g, '').replace(/\\`\\`\\`/g, '').trim();\n        try {\n          return JSON.parse(text);\n        } catch (e) {\n          const match = text.match(/\\{.*\\}/s);\n          if (match) return JSON.parse(match[0]);\n          return { error: \"No JSON\", raw: text };\n        }\n      "},"id":"09e1d967-ecb0-4b52-bc3b-ca9f182ce4cc","name":"Limpiar JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[656,304]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"cda50d06-ed85-4217-8058-b3e76913766f","name":"Responder a App","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[912,304]}],"connections":{"Webhook Axon Slicer":{"main":[[{"node":"Filtro de Entrada","type":"main","index":0}]]},"Filtro de Entrada":{"main":[[{"node":"Axon Slicer Nyvara Edition","type":"main","index":0}]]},"Axon Slicer Nyvara Edition":{"main":[[{"node":"Limpiar JSON","type":"main","index":0}]]},"Groq Llama 3.3":{"ai_languageModel":[[{"node":"Axon Slicer Nyvara Edition","type":"ai_languageModel","index":0}]]},"Limpiar JSON":{"main":[[{"node":"Responder a App","type":"main","index":0}]]}}},"tags":[],"meta":{"aiBuilderAssisted":true},"parentFolderId":null,"description":"Optimización del Slicer para granularidad extrema (10-20 tareas) y asignación inteligente basada en perfiles Nyvara.","scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:unpublish","workflow:unshare","workflow:update","workflow:updateRedactionSetting"],"canExecute":true},"triggerInfo":"This workflow has the following trigger(s):\n\n\nWebhook trigger(s):\n\n\n\t\t\t\t<trigger 1>\n\t\t\t\t\t - Node name: Webhook Axon Slicer\n\t\t\t\t\t - Base URL: https://n8n-tuzb.srv1017783.hstgr.cloud/\n\t\t\t\t\t - Production path: /webhook/axon-slicer\n\t\t\t\t\t - Test path: /webhook-test/axon-slicer\n\t\t\t\t\t - HTTP Method: POST\n\t\t\t\t\t - Response Mode: Webhook is configured to respond using \"Respond to Webhook\" node.\n\t\t\t\t\t - No credentials required for this webhook.\n\t\t\t\t</trigger 1>"}
